[2017-04-04 19:12] dspillmann2016 opened #53 "build fails"
make all-binaries
go build -v -o output/linux_amd64/azure-cnm-plugin -ldflags "-X main.version=v0.7-2-gf768da9-dirty -s -w" cnm/plugin/*.go
github.com/Azure/azure-container-networking/log
github.com/Azure/azure-container-networking/store
github.com/Azure/azure-container-networking/platform
# github.com/Azure/azure-container-networking/log
log/logger.go:44: logger.SetTarget undefined (type Logger h

[2017-04-05 16:43] ofiliz commented on #53
@dspillmann2016 I tried to reproduce this error. Confirmed that the repo builds fine on multiple clean build machines. I see that you have made changes to the repo (the build version above is "dirty") before the build. Could it be that something you changes caused this error? Can you please checkout tag v0.7 and build clean?

[2017-04-05 17:24] dspillmann2016 commented on #53
hi
build env is mac-osx there it fails all the time - it compiles fine on Ubuntu16.4
rm -fr azure-container-networking/
git clone  https://github.com/Azure/azure-container-networking.git
cd azure-container-networking/
make all-binaries
go build -v -o output/linux_amd64/azure-cnm-plugin -ldflags "-X main.version=v0.7-2-gf768da9 -s -w" cnm/plugin/*.go
github.com/Azure/azure-container-networking/log

[2017-04-05 18:46] ofiliz commented on #53
osx is not a supported build target OS. But you should be able to use osx as a build environment to build for a target OS (Linux or Windows) by setting the GOOS env variable. Can you please do this?

GOOS=linux make all-binaries

[2017-04-05 18:50] dspillmann2016 commented on #53
that worked fine.
Thanks

[2017-04-05 19:03] #53 closed

[2017-04-10 17:33] evillgenius75 opened #55 "ClusterIPs should also be assigned by Azure SDN"
Only POD IP space is assigned by the AzureSDN, but there should also be a mechanism to assign the Service CIDR space from the Azure SDN as well. This allows flexibility to place Load Balancers within Azure SDN, within K8s from internal to Azure only communication or to external services via the LoadBalancer type.

[2017-04-11 03:18] ofiliz commented on #55
Thanks for bringing this up. We need to discuss these use cases with ACS team and understand the requirements better. However, it seems to me that any solutions will need to be in [acs-engine](https://github.com/Azure/acs-engine). This repo is for Azure CNI plugins. Can you please move this issue to [acs-engine](https://github.com/Azure/acs-engine) repo and add me there?

Also, please see this PR.

[2017-04-11 08:24] ashb commented on #55
A thing to node about Kubernetes Service IP ranges: They are not actually routed outside of the nodes but are handled by a DNAT rule (at least when kube-proxy is in the default iptables mode). I'm not sure if this behaves differently with CNI-based network plugins?

[2017-04-11 16:57] ofiliz commented on #55
Right. That doesn't really have anything to do with CNI plugins. All that the azure-vnet CNI plugin does is to enable IP connectivity in VNET and update the L2 headers so that DNAT'ed frames are switched properly. The Kubernetes service subnet is a logical abstraction implemented by kube-proxy.

[2017-04-28 23:51] mcastelino opened #58 "cni: panic when testing standalone with cnitool"
cnitool uses a very short ContainerID. This causes a panic in the plugin. This is a minor nit and should not matter in production. But standalone validation with cnitool fails.

https://github.com/containernetworking/cni/blob/master/cnitool/cni.go#L57
[code]

A bounds check is needed here
https://github.com/Azure/azure-container-networking/blob/master/cni/network/network.go#L89
[code]

[code]

[2017-05-05 00:52] #58 closed

[2017-05-10 02:33] #55 closed

[2017-09-18 09:33] zackliu opened #75 "Failed to start container: FailedSync"
I create ACS by json below:

Then I run the command `kubectl run nginx --image nginx`
However the container start error:

[2017-09-22 20:45] sharmasushant commented on #75
Hi Zackliu, Can you please check if the node (k8s-agentpool-40914460-0) has loopback plugin installed at /opt/cni/bin. Please list the files in /opt/cni/bin directory for the agent node above.

[2017-09-25 22:16] sharmasushant commented on #75
Hi Zackliu, Were you able to get the information that was asked and will help us debug this?

[2017-09-26 07:38] zackliu commented on #75
Hi, sorry for not replying at once. There is only `azure-vnet` and `azure-vnet-ipam` in `/opt/cni/bin`. And I have another problem that seems I can't add public IP for agent node (When I tried to associate to NIC of agent node, nothing happened).

[2017-09-26 17:58] ofiliz commented on #75
@zackliu, acs-engine had a regression a few weeks ago where they uploaded an incorrect package that did not include the loopback plugin. We fixed that as soon as we noticed it. The easiest way to fix this is to git pull your acs-engine and recreate your cluster.

[2017-09-27 02:54] zackliu commented on #75
OK, resolved. Thanks.

[2017-09-28 00:24] #75 closed

[2017-09-30 21:41] rocketraman opened #76 "Azure CNI IP addresses exhausted, old pod IPs not being reclaimed?"
I have a Kubernetes 1.7.5 cluster which has run out of IPs to allocate, even though I only have about 15 pods running. Scheduling a new deployment fails. The events on the pod to be scheduled are:

[code]

The dashboard looks like this:

![image](https://user-images.githubusercontent.com/53049/30989414-a1cad736-a46b-11e7-84f0-4a65ea066b3f.png)

Eventually, the dashboard shows the error:

[code]

T

[2017-09-30 22:13] seanknox commented on #76
Thanks for the reporting. Adding a few other Azure folks who are familiar with CNI: @lachie83 @anhowe

[2017-10-01 01:33] sharmasushant commented on #76
@rocketraman Thanks for letting us know! We will look into this.

[2017-10-01 02:30] rocketraman commented on #76
I'd also be interested in a workaround if you can provide one? Maybe some way to force cni to recycle unused IPs?

[2017-10-01 02:49] jeffbarnes769 commented on #76
Not sure if increasing the default IP address pool using acs-engine helps
as a work around.  Realize CNI uses the azure-vnet command (please accept
my apologies if not - very much a newbie)

acs-engine will allocate 128 IP addresses on each node by default.
Depending on the size of your subnets, you can specify a custom value per
agent pool or the master profile by setting the ipAddressCount prope

[2017-10-02 17:47] tamilmani1989 commented on #76
@rocketraman - Can you send us the CNI logs of node causing the issue?
Location of Logs:
/var/log/azure-vnet.log and /var/log/azure-vnet-ipam.log

[2017-10-02 17:54] rocketraman commented on #76
@tamilmani1989  On two of the five nodes in my cluster, I see DEL commands failing in the logs. On the other two nodes they have complete successfully. All five nodes were created at cluster creation time -- there is nothing special about the ones in which the DEL commands are failing. Here is a snippet of the failing DEL commands from those nodes.

[code]

And here are the logs from the other fai

[2017-10-02 18:24] tamilmani1989 commented on #76
@rocketraman - Can you please attach both azure-vnet and azure-vnet-ipam logs of any one of failing nodes by dragging and dropping?

[2017-10-02 19:08] rocketraman commented on #76
@tamilmani1989 Ok
[azure-vnet-logs.zip](https://github.com/Azure/azure-container-networking/files/1350032/azure-vnet-logs.zip)

[2017-10-02 20:17] tamilmani1989 commented on #76
@rocketraman Have you manually deleted any of the veth interfaces(eg: azvethf363b81) in node?

[2017-10-02 20:50] sharmasushant commented on #76
@rocketraman Are you using acs-engine? Is it possible that delete is getting called before create is finished? Can you tell a little bit more about how you are orchestrating creation and deletion of containers? We will need logs that contain both creation and deletion of containers. Your previous logs does not seem to have creation.

[2017-10-02 22:29] rocketraman commented on #76
@tamilmani1989 No I have not deleted any interfaces manually. I *did* delete one vnet IP address from the portal a couple of days ago, as I was trying to find a way to recover from this. I quickly restored it, realizing that approach wasn't going to get me anywhere. However, any logs from September should not be affected by this at all.

@sharmasushant I uploaded all of the logs in the zip file ab

[2017-10-03 18:28] sharmasushant commented on #76
We looked further. It seems that container namespace and veth is being removed prior to the call being made to CNI for deleting endpoint. As per CNI spec, we need to handle this and release IPs even if veth/container-namespace are missing.  We will provide a bug fix for this. Thanks @rocketraman for reporting this.

[2017-10-03 20:58] rocketraman commented on #76
@sharmasushant Great!

Now that you have found the issue, are you able to provide a workaround?

[2017-10-10 05:41] rocketraman commented on #76
Any news on the fix for this serious issue?

[2017-10-10 21:14] sharmasushant commented on #76
@rocketraman Sorry for the delay. Some internal deliverables required our attention so this got delayed. We are targeting next week for a new release that will have fix for the issue. Will keep you posted.

[2017-10-16 14:38] rocketraman commented on #76
@sharmasushant Following up on this, thanks!

[2017-10-22 15:19] rocketraman commented on #76
@tamilmani1989 @sharmasushant I see you guys merged e246fec3cb460a10223aa3234a4fce6088e5b348 that fixes this... awesome! A reference to this issue number somewhere in the commit log would have been nice to confirm this is fixed. Assuming that it is, when do you this will be released and included in acs-engine?

[2017-10-24 20:36] rocketraman commented on #76
@sharmasushant I believe acs-engine is downloading the CNI plugin from https://acs-mirror.azureedge.net/cni/cni-plugins-amd64-latest.tgz. Can you make updating that URL a part of the release process for CNI?

cc: @colemickens

[2017-10-24 21:43] sharmasushant commented on #76
Sure @rocketraman, We will make the process of updating acs-engine more streamlined.

[2017-11-08 19:00] jodok opened #78 "ERROR: failed to allocate gateway (x.x.x.x): No address returned"
my docker host has 2 interfaces and i'm using the CNM driver:
 - `eth0` with `10.4.70.11/24`
 - `eth1` with `10.4.71.201` (and in the azure vnet also `10.4.71.11`, `12`, `13`, `14`,... assigned)

when starting a docker container, a bridge name `azure3` on `eth1` and a interface for the container is being created. the container get's an ip from the available ips and i can reach the container from t

[2017-11-09 08:33] jodok opened #79 "Containers in the CNM managed space can't be reached by loadbalancer, can't access internet"
after the issues described in https://github.com/Azure/azure-container-networking/issues/78 i decided to go with a simple approach and use only one subnet. Everything works as expected, the only issue is that the container isn't reachable by the azure loadbalancer and also can't access the internet.

Docker hosts:
 - subnet `10.4.70.0/24`
 - docker-1: ip `10.4.70.201` (ips `.11`, `.12`, `.13`, `.1

[2017-11-09 19:13] sharmasushant commented on #78
@jodok We can take a look, but the return packets not being sent on the same NIC is possibly due to the default weak host routing in the Linux. I am not sure if this issue is specific to the container scenario. Have you looked into setting up strong host routing?

[2017-11-09 21:47] jodok commented on #78
ehat do you mean with "strong routing"? creating a route table in the azure portal an route an entire subnet to the host interface?

[2017-11-15 11:27] r7vme opened #80 "Wrong external interface detection if bridge already configured"
I have kubernetes cluster with azure vnet cni enabled and after kubelet restart i see the following errors for new pods.

CNI improperly detects external interface `azure0`, but should be `eth0`

`azure-vnet.log`
[code]

`ip addr` output
[code]

[2017-11-17 15:52] sharmasushant commented on #79
@jodok For azure loadbalancer, you need to create load balancer such that it load balances traffic on the ip addresses you want. By default, the traffic is only forwarded to the primary ip address that is assigned to the VM interface.

For internet not being accessible from containers, it is a known behavior in our cnm plugin. We are working on getting a change out that will make internet connecti

[2017-11-17 15:54] sharmasushant commented on #80
@r7vme we can take a look. Can you please share your cluster config?

[2017-11-17 16:07] jodok commented on #79
thanks @sharmasushant!
looking forward to the internet connectivity solution.
on the loadbalancer - i've created it to connect to the secondary ip addresses - but this didn't work either.

[2017-11-20 08:36] r7vme commented on #80
hello, i'm not using acs-engine. I was evaluating Azure vnet CNI for using in our (@giantswarm) installation on Azure. Unfortunately i've already dropped a cluster, but here are the steps that i did.

CoreOS based k8s 1.7.5 with one dhcp NIC (eth0) with private address. Plus for testing i assigned 2 more IP configurations for the VM in Azure portal.

- k8s-kubelet i had a flag `--network-plugin=cn

[2017-11-21 06:07] sharmasushant commented on #80
@r7vme Sure, Thanks for the information. Let us try to repro. Will get back to you.

[2017-11-28 23:58] sharmasushant commented on #80
@r7vme Is it a consistent repro for you?
If yes, can you please share the logs from the following locations: /var/log/azure-vnet.log and  /var/log/azure-vnet-ipam.log

Based on above, it seems that somehow the cni plugin lost the state and does not remember that the bridge was already created.. Did kubelet crashed or some other error happened in there?

[2017-11-29 15:06] edevil commented on #76
This issue is open, but the comments seem to indicate this has been fixed.

Whats the current state?

[2017-11-29 15:14] edevil opened #81 "CNI NetworkPolicy support"
I have installed a Kubernetes cluster that makes use of the azure vnet and ipam CNI plugins. However, they don't seem to support the NetworkPolicy functionality in order to manage accessibility between containers through kubernetes configuration. Am I right?

Are we supposed to use another tool like Calico for this NetworkPolicy functionality, do they work well together?

Thank you.

[2017-12-04 16:36] jrx opened #82 "Errors while configuring Azure CNI with DC/OS"
Hi,

I tried to setup the CNI plugin for Azure using Mesosphere DC/OS. For that I adapted the example from the following guide: https://github.com/Azure/azure-container-networking/blob/master/docs/cni.md

The binaries used are from this package: https://github.com/Azure/azure-container-networking/releases/download/v0.91/azure-vnet-cni-linux-amd64-v0.91.tgz

- The files `azure-vnet` and `azure-vnet

[2017-12-04 18:08] sharmasushant commented on #82
@jrx you need to add more than one ip addresses to the interface on the VM from the Vnet address space.
Please see how to do that here:

https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-network-interface-addresses

powershell: https://docs.microsoft.com/en-us/powershell/module/azurerm.network/add-azurermnetworkinterfaceipconfig?toc=%2Fazure%2Fvirtual-network%2Ftoc.json&view=a

[2017-12-04 18:27] sharmasushant commented on #81
@edevil You are right that Azure CNI currently do not support specifying network policies via kubernetes configuration. We are planning to add that in our next milestone.
If you are using acs-engine, then you can either specify calico or azure-cni in the cluster-configuration.
If you are managing your clusters yourself, then you may be able to get both of them to work together. Unfortunately, we h

[2017-12-04 19:08] jrx commented on #82
@sharmasushant Many thanks! Yes, now it works perfectly fine. Having more than one IP address on the interface, fixed it. :)

[2017-12-04 19:08] #82 closed

[2017-12-05 10:25] edevil commented on #81
@sharmasushant Thank you for the clarification.

[2017-12-05 10:25] #81 closed

[2017-12-05 17:48] sharmasushant commented on #76
@edevil Yes, the issue is now fixed.

[2017-12-05 18:02] edevil commented on #76
Closing the issue would make it clear.

[2017-12-05 18:52] sharmasushant commented on #76
This is now fixed. Closing the issue.

[2017-12-05 18:52] #76 closed

[2017-12-06 12:17] r7vme commented on #80
Sorry, cluster with Azure vnet already wiped. May be important that we run k8s-kubelet in container.

[2017-12-13 13:38] psathh commented on #79
@sharmasushant
any news on the Internet connectivity solution? I am trying to connect to an azure database from a docker container connected to an azure vnet using the cnm plugin,
VNET connectivity is working - connectivity to other vnets too, but not to the public azure SQL-Server address/ip.

[2017-12-14 05:13] sharmasushant commented on #79
@psathh The native support in CNM for internet connectivity may take a little bit more time. However, if you associate a public-ip with your secondary CA, you will be able to reach internet from the container that gets that secondary IP. This may not be ideal, but may be something that you can use to unblock yourself.

[2017-12-14 08:10] psathh commented on #79
@sharmasushant
thanks for the quick feedback and idea. At the moment I am starting the Container with 2 docker network interfaces - the default interface has internet connectivity and the azure vnet (via CNM) provides the connectivity to the VNET.
I have successfully tested connectivity to an azure database and the vnet with this, but still looking forward to an easier CNM-solution with native Sup

[2017-12-16 07:15] fayizk1 opened #85 "Seeing "index out of range" error"
I am seeing following errors on few nodes.

Plugin Version: 0.91

config:
[code]

[code]

[2017-12-19 19:05] sharmasushant commented on #85
@fayizk1 Can you please share the following log files:  /var/log/azure-vnet.log and /var/log/azure-vnet-ipam.log

[2018-01-15 08:09] carlpett opened #91 "Ingress controller cannot reach itself (Azure-VNet, ACS)"
Hi,
We recently stood up a new Kubernetes cluster with ACS engine, after previously using the ACS service in the azure cli. The new cluster has an issue where ingress controllers (we're using the stock nginx ingress controller) cannot make requests to "themselves", ie cannot reach its' own public IP.

The only difference I've found between the old clusters and the new one is that this automaticall

[2018-01-26 04:37] kingliantop opened #92 "run CNM sample with Docker on Azure, can't run docker"
HI,
When I follow the example create an Ubuntu VMM, install docker, vnet plugin, and run sample:
docker run -it --rm --net=azure ubuntu:latest /bin/bash

It shows:
docker: Error response from daemon: No address returned.

The docker network creation is successful:
$ sudo docker network create --driver=azure-vnet --ipam-driver=azure-vnet --subnet=10.1.0.0/24 azure
316fa9ad951081a6b7553b7f51b967e50a

[2018-01-26 04:51] sharmasushant commented on #92
You need to configure secondary IP addresses on the interface. These addresses from the Vnet address space will be assigned to the containers. Here is how you can add secondary IP address to the VM interface:

Powershell: https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-network-interface-addresses

REST Call: https://docs.microsoft.com/en-us/rest/api/virtualnetwork/networkint

[2018-01-26 04:57] sharmasushant commented on #91
@carlpett Is it still happening for you? Can you please share your cluster config. We can try to repro this.

[2018-01-26 04:58] kingliantop commented on #92
@sharmasushant Thanks for the help! If I have 10 containers in one VM, should I manually configure the 10 IPs like this? Will not the vnet-plugin get the IP automatically?

[2018-01-26 04:59] sharmasushant commented on #85
@fayizk1 Is it still happening with latest CNI? If yes, can you please share above requested two log files? If not, we should close the Issue.

[2018-01-26 05:00] #80 closed

[2018-01-26 05:14] sharmasushant commented on #92
@kingliantop You can estimate how many containers you will need in the VM, and can add those many secondary ip addresses before hand. The plugin will not be able to get IP address by itself.

[2018-01-26 06:56] carlpett commented on #91
@sharmasushant Yes, still happens. After some more investigation, it does not only happen for ingresses, but all services with type LoadBalancer. Here is a repro case:

[code]

[2018-01-26 08:33] kingliantop commented on #92
@sharmasushant  Thanks a lot! I will open another issue for connectivity!

[2018-01-26 08:33] #92 closed

[2018-01-26 08:51] kingliantop opened #93 "Using CNM on the docker, the containers can not be reached"
Hi,

I created docker network with azure-vnet-plugin, and created few containers like Ubuntu, nginx, they can't be reached via the VM in the same vNet.

The VM IP: 10.1.0.4
The container alping IP: 10.1.0.7
The test VM IP: 10.1.0.6

steven@myubuntutest:~$ sudo docker run -it --net=azure  alpine
/ # ifconfig
eth0      Link encap:Ethernet  HWaddr 5A:E0:6A:AA:15:50
          inet addr:10.1.0.7  Bcast

[2018-01-31 01:01] sharmasushant commented on #93
@kingliantop Do you have any firewall or Azure NSGs blocking the traffic? These are the most common reasons we have seen so far. Can you please check?

[2018-02-06 11:00] malachma commented on #91
The reason for the this reported behaviour is that the interface attached to the bridge (azure0) is not well configured. Meaning a default setting for the hairpin mode is used. The man for bridge states the following

As a workaround one can perform the following changes to identify the right interface

**Howto find out the interface for a given POD to alter the hairpin flag?**

_First identify th

[2018-02-07 07:58] EgoAleSum commented on #93
I have the same issue. Actually, not only I can't reach container, but I can't reach anything from within the container either.

I am using Ubuntu 16.04, with Docker CE 17.12. Plugin version 1.0.2. My VM has two NICs, in two separate subnets. I've tried adding the bridge to either NIC, with the same results.

My containers do get an IP, and they appear to be connected to the VNET.

What doesn't wo

[2018-02-08 14:10] ChristianWeyer opened #96 "Does this work with Azure Container Instances (ACI)?"
Can we use these plugins easily with ACI?
Thanks.

[2018-02-10 01:15] EgoAleSum commented on #96
While I'm not one of the devs, I would say this is unlikely, as ACI offers you a container and doesn't expose the orchestrator. That is: the complexities that this plugin aims to solve will already be taken care of for you.

[2018-02-10 01:16] EgoAleSum commented on #93
Just wondering if there's been an update here. I'll be happy to share my code to reproduce the bug, although it's not much more than just running Docker and the plugin on Ubuntu 16.04.

[2018-02-10 01:16] EgoAleSum commented on #93
@sharmasushant Just wondering if there's been an update here. I'll be happy to share my code to reproduce the bug, although it's not much more than just running Docker and the plugin on Ubuntu 16.04.

[2018-02-10 03:52] sharmasushant commented on #93
@EgoAleSum Sorry for delay. Let us take it up in the coming week. Looks like may be something to do with multi nic VM. Does the issue repro with single NIC VM for you?

[2018-02-10 08:03] EgoAleSum commented on #93
@sharmasushant Thanks. Switching to a single-NIC VM doesn't seem to be working either. It worked for a container, then I stopped it and re-created it, and it stopped working.

[2018-02-13 16:29] dennis-benzinger-hybris commented on #81
@sharmasushant, quick question regarding your comment "We are planning to add that in our next milestone.".

Since which version are network policies supported?

[2018-02-21 23:12] tamilmani1989 commented on #93
There is a problem with ipforwarding in newly created VMs. The following is temporary fix steps.

Set `net.ipv4.ip_forward=1` in /etc/sysctl.conf and reboot your VM. Then create the network using azure-vnet driver and use it.

[2018-02-26 08:09] EgoAleSum commented on #93
Hi @tamilmani1989 I've tried what you suggested (enabling IPv4 forwarding), on a multi-NIC VM.

After doing that, I tried running an nginx container on the Azure VNET. I can successfully ping and curl that container from the host VM.

Next step, I created another container running centos to get a shell, in the same Azure VNET. Again, from that container I can ping and curl the nginx container.

Ho

[2018-02-26 08:17] tamilmani1989 commented on #93
@EgoAleSum Outbound Connection won't work with CNM. Using CNM you can connect to VM/Container within Azure VNET. So earlier you mentioned that container to container communication or container to VM communication is not working. So did it get resolved now?

[2018-02-26 08:19] EgoAleSum commented on #93
1. Container-to-container within the same CNM network is working
2. Container-to-host and host-to-container is working, but only if they're within the same VNET (e.g. from a container in a VNET, I can ping the host using the IP of the NIC in the same VNET, but not in another one).
3. Outside-to-container is NOT working, which is the key here for me. A container seems reachable only from within the

[2018-02-26 22:14] sharmasushant commented on #93
@EgoAleSum Thanks for your patience. In order to reach internet from the containers, the outbound packets have to have the source ip as the one in the ip-config that is primary. This is the current Azure behavior, where by default, the snat is given only on primary ip-config.

Because of above, there are two options to reach internet from containers
1) you can configure public-ip on each ip-config

[2018-02-27 07:06] EgoAleSum commented on #93
So, the container was assigned an IP which also had a public ip (on the same ip-config). However, I added that after the VM was created, so I assume that's why snat wasn't enabled?

Will re-trying that give me full inbound and outbound connectivity between my container and the Internet?

I have destroyed the VM now, but I'd be happy to share my Terraform templates and setup instructions.

PS: I wo

[2018-03-07 16:52] kingliantop commented on #93
Thanks for you guys workaround! I test container to container, container to VM host, they all work fine, and with public IP assignment to the container, the container can access internet as well.

Yes, I agree all these trivial details should be well documented, the following up issue is the IPAM:

Each time I want to create a container using Azure network driver, I have to create an pre-allocated

[2018-03-18 00:32] frenchyjef opened #104 "Failed to create File Store directory Error:mkdir : The system cannot find the path specified."
Running the new azure-vnet-plugin.exe 1.0.3 on my Windows 10 Azure VM gives me the below error...

[code]
Also, am I supposed to set the --api-url argument? What value should go there?

Thanks,
J-F

[2018-03-30 16:27] kingliantop commented on #85
I encountered the same error with CentOS 7.4, no log files like /var/log/azure-vnet.log or /var/log/azure-vnet-ipam.log on centOS, the error messages from /var/log/messages like below:

Mar 30 16:14:43 localhost systemd: Started libcontainer container a05279f6193142478f5d5ada58c0910820aad32678254535fc484f8ed1116b28.
Mar 30 16:14:43 localhost systemd: Starting libcontainer container a05279f61931424

[2018-03-30 18:24] tamilmani1989 commented on #85
@fayizk1 We are not getting what's the exact issue. The first log you shared looks completely different from the one you shared now. This is not the same issue. Can you please open a different ticket for this? Also if the first issue gets fixed, Please close this ticket.

[2018-03-31 10:40] kingliantop opened #108 "CNI plugins show "index out of range" on CentOS 7.4 for kubernetes 1.8.9"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUES
---

**Which release version?**:
v1.0.3
---

**Which componenet (CNI/IPAM/CNM/CNS)**:
CNI
---

**Which Orchestrator and version (e.g. Kubernetes, Docker)**
Kubernetes v1.8.9, CentOS 7.4

**What happened**:

The CNI does not work after installation, the error from /var/log/messages asbelow:

Mar

[2018-04-02 19:03] tamilmani1989 commented on #108
@kingliantop - can you please try the following commands in your setup and send me the output?
1. "cat /etc/issue"
2.  "uname -r"

[2018-04-02 21:58] abhi opened #111 "Azure IPAM allocates subnet per pod on the node if subnet is not specified in network config"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

**Which release version?**:
I tried on azure v1.0.2

**Which componenet (CNI/IPAM/CNM/CNS)**:
CNI IPAM

**Which Orchestrator and version (e.g. Kubernetes, Docker)**
Kubernetes

**What happened**:
As explained in the PR https://github.com/Azure/azure-container-networking/pull/105, azure ipam fails to allocate IPs from second pods onwards

[2018-04-04 20:24] abhi commented on #111
ping @sharmasushant

[2018-04-05 02:10] tamilmani1989 commented on #111
@abhi It looks like you already requested a pool and got poolid and so the pool will be marked in use. In your subsequent requests you have to pass poolid that you received to get ips from the pool. Unless you release the pool, you can't allocate ips from the pool. BTW how did you endup in such scenario?  Did azure-vnet-ipam already run and you restarted it?

[2018-04-05 02:40] abhi commented on #111
@tamilmani1989 I opened this PR https://github.com/Azure/azure-container-networking/pull/105 and I have added the explanation. From @sharmasushant discussion it looks this is a bug in Azure IPAM. I am not sure why a CNI plugin would pass a pool id to the IPAM plugin.
When you say pool id are u talking about ``` subnet``` ? I have listed complete set of steps that anyone can reproduce the issue wit

[2018-04-06 05:03] seanknox opened #118 "CNI/IPAM plugin on Ubuntu 17.10 breaks DNS"
**Is this a request for help?**:
---
yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
---
ISSUE

**Which release version?**:
---
v1.0.3

**Which componenet (CNI/IPAM/CNM/CNS)**:
---
CNI/IPAM

**Which Orchestrator and version (e.g. Kubernetes, Docker)**
Kubernetes

**What happened**:
Activating the CNI plugin on Ubuntu 17.10 breaks name resolution (DNS). The switch from `eth0` to `azure0

[2018-04-06 06:47] seanknox commented on #118
Worse, tried on Ubuntu 16.10 and CNI/IPAM knocks the VM completely off the network.

[2018-04-06 07:49] sharmasushant commented on #118
@seanknox is this a self managed k8s cluster, or setup via acs-engine? If you are using acs-engine, can you please share cluster config?

Also, is it kube-dns that breaks, or default azure dns, or are you specifying dns in your Vnet config?

[2018-04-06 08:56] sharmasushant commented on #118
@seanknox if you are working on self manages cluster, please ensure you have ebtables installed on nodes before using cni. Otherwise, layer 2 operations fails and vm can loose connectivity.

[2018-04-06 16:00] seanknox commented on #118
@sharmasushant it's a self-managed cluster (built using terraform: http://github.com/seanknox/acstack). layer 3 and layer 4 continues to work fine: I can ping and connect to sockets on the internet. the issue with Ubuntu 17.10 is DNS resolution fails once CNI kicks in on the node.

[2018-04-06 23:24] seanknox commented on #96
As a MSFT staffer I can confirm the above. Networking is completely managed by ACI.

[2018-04-07 06:37] ChristianWeyer commented on #96
Thanks!

[2018-04-07 06:37] #96 closed

[2018-04-15 22:47] seanknox commented on #118
@sharadagarwal do you need any additional information? Considering the gravity of the breakage this is a big deal.

[2018-04-16 02:40] sharadagarwal commented on #118
@seanknox did you mean to ask someone else?

[2018-04-16 05:34] sharmasushant commented on #118
@saiyan86 can you take a look?
@seanknox can you please try v1.0.2 to unblock while we look at 1.0.3
v1.0.2 has been working well with ace-engine for some time now.

[2018-04-16 14:55] seanknox commented on #118
@sharmasushant just tried v1.0.2 and same problem. Note that acs-engine uses Ubuntu 16.04-LTS, which is older.

[2018-04-16 22:51] ozdanborne commented on #111
I think the issue is that this^ is not a part of the official CNI spec, so other CNI plugins won't do it. For the Azure IPAM plugin to be compatible with other CNI plugins (like Calico's), it needs to be able to be called subsequently without the "poolid".

[2018-04-17 23:51] saiyan86 commented on #118
@sharmasushant I just saw this. Will take a look.

[2018-04-26 20:26] jose-bigio opened #124 "The project is not vendored"
**Is this a request for help?**:

Not really

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

---

**Which release version?**:
All versions
---

**Which componenet (CNI/IPAM/CNM/CNS)**:

All components

---

The dependencies that are being used to build binaries are not checked into this repository.
For reproducible builds across forks, and over time it would be helpful to have

[2018-05-01 18:25] seanknox opened #128 "Pods don't have connectivity to external networks"
**Is this a request for help?**: yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): issue

---

**Which release version?**: v1.0.3

---

**Which componenet (CNI/IPAM/CNM/CNS)**: CNI

---

**Which Orchestrator and version (e.g. Kubernetes, Docker)** Kubernetes v1.10.1 and containerd 1.1.0-rc.2

**What happened**:
Pod, node, master network: 10.1.0.0/16

- ✅ node to pods: OK
- ✅ master

[2018-05-02 20:50] saiyan86 commented on #118
This should come from a systemd bug: [Bug #1624320](https://bugs.launchpad.net/ubuntu/+source/systemd/+bug/1624320)

[2018-05-03 07:16] seanknox commented on #118
I don't think this is the case, as the bug refers to adding the local caching nameserver to a list of existing nameservers in `resolv.conf.` In my case, I'm only using the default nameserver that comes with Ubuntu 17.10 (`nameserver 127.0.0.53`).

[2018-05-04 22:34] jose-bigio commented on #124
Is this desirable for the project?

[2018-05-06 18:38] sharmasushant commented on #124
@jose-bigio Sure. We can take a work item to get dependencies vendored in.

[2018-05-06 18:40] sharmasushant commented on #128
@tamilmani1989 is looking into this.

[2018-05-06 18:42] sharmasushant commented on #108
@kingliantop Can you please provide output as requested by @tamilmani1989 ?

[2018-05-06 18:43] sharmasushant commented on #104
Closing as this is now fixed in latest release.

[2018-05-06 18:43] #104 closed

[2018-05-06 18:46] sharmasushant commented on #85
Please open a new issue as suggested by Tamilmani. Closing this one.

[2018-05-06 18:46] #85 closed

[2018-05-07 16:06] tlessard opened #132 "dirPath is empty, nothing to create / plugin not found"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

**Which release version?**:

1.04

**Which componenet (CNI/IPAM/CNM/CNS)**:

CNM

**Which Orchestrator and version (e.g. Kubernetes, Docker)**
Docker on Windows Server 2016 Enterprise with Containers (IaaS VM)

**What happened**:
Receiving an error when launching azure-vnet-plugin.exe and then am

[2018-05-08 02:12] xukai286 opened #134 "Will ipvlan and hardware offloading be used for Linux container networking in azure?"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Feature request
---

**Which release version?**:

---

**Which componenet (CNI/IPAM/CNM/CNS)**:
Cni
---

the current version uses Linux bridge to forward eth package. There’re so many implements can do this. Do we have a benchmark about Linux bridge vs ipvlan l2, macvtap...etc I saw some ipvlan code fo

[2018-05-08 04:13] xukai286 opened #135 "will vnet plugin support multi-subnet"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST
---

**Which release version?**:
1.0.4
---

**Which componenet (CNI/IPAM/CNM/CNS)**:
CNI/IPAM
---

will vnet plugin support multi-subnet in a k8s cluster in acs-engine and aks?
do we have the roadmap

**Which Orchestrator and version (e.g. Kubernetes, Docker)**
Kubernetes

**What happen

[2018-05-08 06:20] xukai286 opened #136 "default mode of Microsoft Azure Container Networking plugin"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
issue
---

**Which release version?**:
1.0.2
---

**Which componenet (CNI/IPAM/CNM/CNS)**:
cni
---

the configurations generated by acs-engine would just copy the file https://github.com/Azure/azure-container-networking/blob/master/cni/azure-linux.conflist.  which define the mode is bridge.
this make m

[2018-05-08 17:56] tamilmani1989 commented on #132
@tlessard - "dirPath is empty, nothing to create." -> This message can be ignored. I didn't any issue in the attached log also.  Also Please make sure that you run azure-vnet-plugin.exe from admin prompt. Can you share me the command that you used to create network?

[2018-05-08 18:06] tamilmani1989 commented on #136
@xukai286 - You are right. In CNM, the default mode is tunnel and in CNI, the conflist will define the mode as bridge. If nothing is defined in conflist, then the default option is tunnel. We will update the doc to be more clearer.

[2018-05-08 18:07] tamilmani1989 commented on #135
@xukai286 Can you please eloborate the requirement with a scenario/usecase?

[2018-05-08 18:40] tlessard commented on #132
Hi, thanks for the quick response!  I had run azure-vnet-plugin.exe by right-clicking and running as administrator yesterday.  Based on your response I ran it again via an admin CMD shell and that appeared to fix the issue.  I was able to issue this command to create my network and it succeeded.

docker network create --driver=azure-vnet --ipam-driver=azure-vnet --subnet=10.16.8.0/22 azure

Thank

[2018-05-08 18:42] tamilmani1989 commented on #132
Ok good!

[2018-05-08 18:42] #132 closed

[2018-05-09 00:58] xukai286 commented on #135
yes.just like some pods and nodes have subnet A, and some pods on other  nodes have different subnet B. both subnet A and subnet B are in the same vnet.

[2018-05-10 23:13] tamilmani1989 commented on #135
Yes Azure CNI supports that. You can bring your own vnet and specify different subnets for different agent nodes in cluster config yaml  of acs-engine.

[2018-05-11 18:31] tamilmani1989 commented on #118
@seanknox - Can you change nameserver to 168.63.129.16 in resolv.conf and check if its working? Also please share /var/log/azure-vnet.log and /var/log/azure-vnet-ipam.log

[2018-05-13 09:27] xukai286 commented on #135
yep.  I can bring my own subnets and my question is could acs-engine create and define multiple subnets and set route for them?

[2018-05-14 21:19] tamilmani1989 commented on #135
To my knowledge, ACS engine won't create multi subnets. If you use default cluster config, it will create a vnet and a subnet for you. If you want to have different subnet for each agent, then the only way is to bring your own subnets.

[2018-05-16 15:10] tlessard opened #141 "Windows container not pulling DNS server from VNET"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

**Which release version?**:

1.04

**Which componenet (CNI/IPAM/CNM/CNS)**:

CNM

**Which Orchestrator and version (e.g. Kubernetes, Docker)**
Docker  (Windows with Containers)

**What happened**:
Container receives IP address, subnet mask and gateway but not DNS servers from Azure Virtual Network

[2018-05-16 15:11] tlessard commented on #141
![image](https://user-images.githubusercontent.com/15464728/40125837-7a07becc-58f1-11e8-9df0-a8f069564d06.png)

[2018-05-21 15:19] xukai286 opened #144 "mac " 12:34:56:78:9a:bc" in tunnel mode of CNI"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**Which release version?**:
ALL
---

**Which componenet (CNI/IPAM/CNM/CNS)**:
CNI
---

in the k8s cni plugin. if I use the tunnel mode.
2 nodes and 4 pods:
azureuser@k8s-master-34676867-0:~$ kubectl  get  pods -o wide
NAME                    READY     STATUS    RESTARTS   AGE       IP

[2018-05-23 23:20] sharmasushant commented on #144
@xukai286 The value 12:34:56:78:9a:bc is what Azure platform returns in the ARP response when a VM sends the ARP request for any ip-address in the virtual network.

[2018-05-24 12:09] IvanovOleg commented on #108
I have the same issue on CoreOS, kubernetes 1.10.3

[code]

[2018-05-24 12:55] IvanovOleg commented on #108
cat /etc/issue in Ubuntu returns `Ubuntu 16.04.3 LTS`
but in the CoreOS this command returns a list of host keys

This is the reason of the issue!!!

[2018-05-24 15:57] sylus opened #145 "Azure CNI IP for Windows Node addresses exhausted"
**Is this a request for help?**: YES

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE
---

**Which release version?**: v1.0.2

---

**Which component (CNI/IPAM/CNM/CNS)**: CNI / IPAM

---

**Which Operating System (Linux/Windows)**: Windows 10.0.16299.371 (WinBuild.160101.0800)

---

Hi there!

Having this problem only on my windows node (custom vnet) as running a jenkins slave b

[2018-05-24 17:57] IvanovOleg commented on #108
[patch.txt](https://github.com/Azure/azure-container-networking/files/2036532/patch.txt)

[2018-05-24 18:27] PatrickLang opened #146 "DNS search suffix not for namespace on Windows pods"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue
---

**Which release version?**:

v1.0.4-1-gf0f090e
---

**Which component (CNI/IPAM/CNM/CNS)**:

CNI
---

**Which Operating System (Linux/Windows)**:

Windows Server version 1803
---

**Which Orchestrator and version (e.g. Kubernetes, Docker)**

Kubernetes

**What happened**:

The DNS suffix is not set based on the pod's namespace.

**

[2018-05-24 18:30] PatrickLang opened #147 "kube-dns should be first and only DNS server for Windows pods"
**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**Which release version?**: v1.0.3

---

**Which component (CNI/IPAM/CNM/CNS)**: CNI

---

**Which Operating System (Linux/Windows)**:

Windows Server version 1803

---

**Which Orchestrator and version (e.g. Kubernetes, Docker)**
Kubernetes

**What happened**:

168.x.x.x was first in the DNS server list. It can't resolve DNS withi

[2018-05-24 19:00] IvanovOleg opened #148 "How to build this?"
**Is this a request for help?**:
YES
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

---

**Which release version?**:
master
---

**Which component (CNI/IPAM/CNM/CNS)**:

---

**Which Operating System (Linux/Windows)**:

Centos 7 / Linux localhost 3.10.0-693.21.1.el7.x86_64 #1 SMP Wed Mar 7 19:03:37 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
---

**Which Orchestrator and version (e.g. Ku

[2018-05-25 01:26] sharmasushant commented on #135
I think the better place for this issue is github.com/azure/acs-engine
It will get better visibility over there.

[2018-05-25 01:26] #135 closed

[2018-05-25 03:56] olljanat opened #151 "CNM, --ipam-query-url switch missing from cmd"
**Is this a request for help?**:
Yes

**Which release version?**:
v1.0.3

**Which component (CNI/IPAM/CNM/CNS)**:
CNM

**Which environment (Azure/MAS)**
MAS

**Which Operating System (Linux/Windows)**:
Windows, 10.0.17134.1 (WinBuild.160101.0800)

**Which Orchestrator and version (e.g. Kubernetes, Docker)**
Docker CE 18.03.1-ce

**What happened**:
Not able to get subnets from MAS as it not listeni

[2018-05-25 06:15] IvanovOleg commented on #148
I've tried to build it using the official golang docker image, but got the same issues(((

[2018-05-25 06:44] IvanovOleg commented on #148
I've tried:
[code]

[2018-05-25 14:59] IvanovOleg commented on #148
The "GET" method has been added to the skel module recently and it requires more arguments for methods. Build fails!!!

[2018-05-25 15:07] sharmasushant commented on #148
@IvanovOleg  We are aware of the update in contract and @ashvindeodhar is working on getting the implementation checked in.

[2018-05-25 15:11] IvanovOleg commented on #148
@sharmasushant I was able to fix:
[code]
by changing Dockerfile.build image version to 1.9.4

[2018-05-25 15:18] IvanovOleg commented on #148
I was able to build everything by creating empty functions and extending the plugin api description

[2018-05-25 15:24] IvanovOleg commented on #148
One more thing, there is VERSION variable in the Makefile that doesn't set anywhere. In order to build it should be set f.e `export VERSION=1.0.6`

[2018-05-25 16:03] IvanovOleg commented on #108
I've just tested this fix and it works fine!

[2018-05-28 16:15] sylus commented on #145
I have tried a few things to resolve this issue but to no avail.

Last thing I tried was this: https://github.com/andyzhangx/demo/blob/master/issues/network-issues.md#2-azure-cni-failed-to-allocate-address

Ideally am looking for a way to free up these IPS from CNI, without destroying the Windows VM.

[2018-05-29 14:04] sylus commented on #145
Am now seeing this in my logs:

[code]

[2018-05-29 18:33] BuairtRi commented on #145
Is there documentation somewhere about how to update the CNI version? I'm not a kubernetes savant yet (my apologies).

I provisioned my kubernetes cluster using acs-engine, and can SSH onto the master node, but can't seem to gain access via RDP or SSH to the Windows nodes. I also have access to kubectl commands (although kubectl log always times out).

[2018-05-30 05:08] sharmasushant commented on #147
#155 fixes this

[2018-05-30 05:08] #147 closed

[2018-05-30 16:46] IvanovOleg commented on #128
I have the same issue on CoreOS and Kubernetes 1.10.3

[2018-06-01 01:58] tamilmani1989 commented on #151
@olljanat  Approved the PR. We will merge and release in next few days.

[2018-06-01 01:58] #151 closed

[2018-06-02 00:48] #148 closed

[2018-06-03 17:07] #144 closed

[2018-06-04 19:06] #108 closed

[2018-06-06 08:45] tammert opened #167 "Hairpin-mode not correctly set on azveth interfaces"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**Which release version?**:
0.3.0
---

**Which component (CNI/IPAM/CNM/CNS)**:
CNI (I think)
---

**Which Operating System (Linux/Windows)**:
Linux 4.13.0-1018-azure #21-Ubuntu SMP Thu May 17 13:58:38 UTC 2018 x86_64
---

**Which Orchestrator and version (e.g. Kubernetes, Docker)**
Kubernete

[2018-06-06 10:33] y325A commented on #145
@BuairtRi to RDP to Windows machines you need to tunnel the connection through you SSH session. There is a guide here - https://www.saotn.org/tunnel-rdp-through-ssh/

Did updating CNI resolve this issue for you? I am facing the same problem.

[2018-06-08 05:14] andrewhsu opened #170 "Add PR build jobs to test the code before merge"
**Is this a request for help?** : Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

**Which release version?**: all future versions

**Which component (CNI/IPAM/CNM/CNS)**: all

**Which Operating System (Linux/Windows)**: all

**Which Orchestrator and version (e.g. Kubernetes, Docker)**: N/A

**What happened**: On PRs to this repo, there are no tests run automatically.

**What you

[2018-06-08 05:15] andrewhsu commented on #170
cc @abhi @carlfischer1

[2018-06-09 04:31] saiyan86 commented on #146
This is fixed in PR#152

[2018-06-09 04:31] #146 closed

[2018-06-26 14:48] CecileRobertMichon opened #176 "CNI plugin crashes with nil panic"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**Which release version?**:
1.0.4
---

**Which component (CNI/IPAM/CNM/CNS)**:

---

**Which Operating System (Linux/Windows)**:

---

**For Linux: Include Distro and kernel version using "uname -a"**

---

**For windows: provide output of "$(Get-ItemProperty -Path "C:\windows\system32\hal.d

[2018-06-26 14:54] CecileRobertMichon commented on #176
Issue was also reported in https://github.com/Azure/acs-engine/issues/3155

[2018-06-26 18:59] tamilmani1989 commented on #176
@CecileRobertMichon - We identified the cause and fixed it. The PR is in review and will let you know once we release new version

[2018-06-27 05:40] honcao opened #178 "can not complie with the latest code https://github.com/containernetworking/cni"
**Is this a request for help?**:
YES
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**Which release version?**:
The latest code
---

**Which component (CNI/IPAM/CNM/CNS)**:
CNI
---

**Which Operating System (Linux/Windows)**:
Fedora
---

**For Linux: Include Distro and kernel version using "uname -a"**
Linux localhost.localdomain 4.16.16-300.fc28.x86_64 #1 SMP Sun Jun 17 03

[2018-06-27 07:36] digeler commented on #176
from digeler@microsoft.com
Cecile ,can we get a private for my customer he is not able to create any pods.
cause cni is crashing
Events:
  Type     Reason                  Age                  From                               Message
  ----     ------                  ----                 ----                               -------
  Normal   SandboxChanged          32m (x1133 over 2h)  kubelet,

[2018-06-27 19:48] mjconnection commented on #176
I have a partner that is having a similar issue with the CNI and CNI-ipam modules.  Please let me know if their issue is related to the above and if the fix will resolve their problems.

For some more context, when the networking issues strike, They see log messages in the /var/log/azure-vnet.log and /var/log/azure-vnet-ipam.log files like this:

azure-vnet.log
2018/06/22 17:40:54 [cni-net] Plugin

[2018-06-28 00:00] daschott commented on #146
@saiyan86 I see this issue again on acs-engine v0.18.9 Since you did [#152](https://github.com/Azure/azure-container-networking/pull/152) are you on point for fixing this?

[2018-06-28 01:38] madhanrm commented on #178
Yes, seeing the same for windows

[2018-06-28 01:39] madhanrm commented on #178
[code]

[2018-06-28 01:54] madhanrm commented on #178
Fix can be picked up from https://github.com/Azure/azure-container-networking/pull/174/files to unblock

[2018-06-28 17:40] sharmasushant opened #179 "Make CNI Network Monitor part of CNI"
**Is this a request for help?**:
NO
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST
---

**Which component (CNI/IPAM/CNM/CNS)**:
CNI
---

**Which Operating System (Linux/Windows)**:
Linux
---

**Which Orchestrator and version (e.g. Kubernetes, Docker)**
Kubernetes
---

[2018-06-28 17:42] sharmasushant opened #180 "Create new custom chain for ebtables"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST
---

**Which component (CNI/IPAM/CNM/CNS)**:
CNI/CNS/CNS
---

**Which Operating System (Linux/Windows)**:
Linux
---

[2018-06-28 18:50] tamilmani1989 commented on #176
@mjconnection The above logs didn't show any issue. What is the exact problem that the user is facing? Can you send us entire log?  Only then we can confirm if its same issue or not

[2018-06-29 04:19] brendandburns commented on #176
@tamilmani1989 I think I'm seeing the same (or similar problem) this is with cni 1.0.6:

[code]

[2018-06-29 04:28] sharmasushant commented on #176
@brendandburns  The fix was checked in 2 days ago. Please see here: https://github.com/Azure/azure-container-networking/commit/f09a7132a1b2bed8b3ede4aeb9251ca54b7a12dc

This happens when ADD fails (HNS returning failure on attach is when we usually see this happen).

[2018-07-01 18:28] digeler commented on #176
On windows after compiling the latest binaries we get :
Ok so now i'm not getting the error but the pod failed to start ( stuck on ContainerCreating state ) after 2 minutes i've got this error :

Failed create pod sandbox: rpc error: code = Unknown desc = NetworkPlugin cni failed to set up pod "prod-wsc-cliprouploader-57878b4f9b-m9256_wsc" network: netplugin failed but error parsing its diagnostic

[2018-07-02 12:54] digeler opened #181 "ipam plugin aks assignes duplicate ips"
**Is this a request for help?**:YES

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
issu
---

**Which release version?**:
AKS latest version with cni
---

**Which component (CNI/IPAM/CNM/CNS)**:

---IPAM

**Which Operating System (Linux/Windows)**:
linux
---

**For Linux: Include Distro and kernel version using "uname -a"**

---

**For windows: provide output of "$(Get-ItemProperty -P

[2018-07-03 17:06] CecileRobertMichon commented on #181
@sharmasushant @tamilmani1989 please take a look, we have aks customers running into this issue

[2018-07-03 18:13] tamilmani1989 commented on #181
@digeler - can you please send us entire /var/log/azure-vnet.log? because I didn't see any logs between  2018/06/30 03:00:37 and 2018/06/30 03:05:08. I wanted to make sure if KUBERNETES is calling del for that ip.

[2018-07-05 09:03] marrobi opened #185 "Kubernetes Network Policies not enforced"
**Is this a request for help?**:
---
Yes

h component (CNI/IPA**Is this an ISSUE or FEATURE REQUEST?** (choose one):
---
Issue

**Which release version?**:
---
azure-npm:v0.0.3

**Which component (CNI/IPAM/CNM/CNS)**:
---

Network Policy Manager

**Which Operating System (Linux/Windows)**:
---
Linux - AKS

**Which Orchestrator and version (e.g. Kubernetes, Docker)**
---
Kubernetes

**What happened

[2018-07-05 15:56] w3s7y opened #186 "Plugin fails with "Store is locked" and "network: netplugin failed but error parsing its diagnostic message "": unexpected end of JSON input""
**Is this a request for help?**:
Issue/Bug, request for confirmation of fix in later versions.
---
**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

**Which release version?**:
---

v1.0.2

**Which component (CNI/IPAM/CNM/CNS)**:
---

CNI & IPAM

**Which Operating System (Linux/Windows)**:
---

Linux (Ubuntu 16.04) 64bit
Linux k8s-agentpool1-62076056-0 4.15.0-1014-azure #14~16.04.1-Ub

[2018-07-05 17:51] saiyan86 commented on #185
@marrobi Could you please share the policy definition yaml with me? Thanks!

[2018-07-05 21:58] sharmasushant opened #187 "Azure IPAM not reloading store"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**Which release version?**:
v1.0.6
---

**Which component (CNI/IPAM/CNM/CNS)**:
IPAM
---

**Which Operating System (Linux/Windows)**:
Both
---

Got regressed with change https://github.com/Azure/azure-container-networking/pull/161

[2018-07-05 22:00] saiyan86 commented on #185
@marrobi Thanks for the feedback! This issue is fixed in https://github.com/Azure/acs-engine/pull/3426.

[2018-07-05 22:00] #185 closed

[2018-07-05 22:22] #178 closed

[2018-07-05 22:31] sharmasushant opened #189 "POD cannot connect to itself via service ip"
With the azure network plugin, a pod listening on a TCP port (say 8080), and a service fronting that pod:

The pod CAN connect back to itself via `localhost:8080`
The pod CAN connect back to itself via `<pod-ip>:8080`
The pod CAN NOT connect back to itself via `<service-ip>:8080`
Point 3 is a problem: this should be possible.

Other notes:

The node itself, as well as other pods in the system CAN

[2018-07-05 22:32] sharmasushant commented on #189
https://github.com/Azure/AKS/issues/500

[2018-07-05 22:33] sharmasushant commented on #189
This issue is same as https://github.com/Azure/AKS/issues/500

[2018-07-05 22:51] saiyan86 commented on #185
@marrobi No problem. Your feedback is very valuable to us!

[2018-07-06 19:47] elementsean commented on #176
Hi @tamilmani1989

@mjconnection posted a note on our behalf recently, with the errors from the logs. There is a networking issue on these machines, apparently related to the DEL commands failing.  I've attached the logs.

Please advise, as we're still having this issue after the patch was put out.

[azure-vnet.log](https://github.com/Azure/azure-container-networking/files/2171738/azure-vnet.log)

[2018-07-07 18:56] elementsean commented on #176
Hi @tamilmani1989

We were able to fix the issue by pinning the CNI version to 1.0.7

[2018-07-07 22:33] #176 closed

[2018-07-08 08:57] sharmasushant commented on #186
To mitigate, you can try deleting the lock file. Since you are running v1.0.2 of Azure CNI, it is possible that there is a code path that can leave the lock file behind if it crashes in the middle of ADD/DEL (especially with node out of memory).

[2018-07-08 08:58] #187 closed

[2018-07-08 08:59] sharmasushant commented on #181
This is fixed in v1.0.7

[2018-07-08 08:59] #181 closed

[2018-07-11 23:34] PatrickLang opened #194 "Intermittent "Store is locked vnet" on azure-cni 1.0.7"
**Is this an ISSUE or FEATURE REQUEST?** (choose one): issue

---

**Which release version?**: 1.0.7

---

**Which component (CNI/IPAM/CNM/CNS)**: CNI

---

**Which Operating System (Linux/Windows)**: Windows (maybe Linux too)

---

**For windows: provide output of "$(Get-ItemProperty -Path "C:\windows\system32\hal.dll").VersionInfo.FileVersion"**   10.0.17134.112

---

**Which Orchestrator and ve

[2018-07-12 15:12] w3s7y commented on #186
We have done some more investigation and found that the cluster was under intense memory and CPU load at the time of this issue.  We thought it may have caused the CNI to lock the store, not be able to complete it's action and therefore never unlocked the store for the next operation.

[2018-07-12 23:03] PatrickLang opened #195 "azure-cni returns unparseable output on IP address exhaustion, causes infinite retry loop"
**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**Which release version?**: 1.0.7

---

**Which component (CNI/IPAM/CNM/CNS)**: CNI

---

**Which Operating System (Linux/Windows)**: Windows Server version 1803

---

When the IP range for a node is exhausted, the kubelet needs to be able to parse the CNI output correctly to determine the error. in IP exhaustion - the pod should b

[2018-07-12 23:43] sharmasushant commented on #195
Ack! We will look and update if fix is needed.. Thanks Patrick!

[2018-07-13 09:08] kovszilard commented on #91
We have the exact same use case and we experience the same issue. The workaround from @malachma worked for us.

[2018-07-17 21:50] sharmasushant opened #196 "[CNM] Update documentation to specify how to setup SNAT to reach Internet"

[2018-07-17 21:51] #93 closed

[2018-07-18 18:35] jackfrancis opened #198 "k8s w/ Azure CNI agent node lost InternalIP"
Tracking this here:

https://github.com/Azure/acs-engine/issues/3503

Here are kubelet logs from the affected node:

[code]

[2018-07-18 18:47] sharmasushant commented on #198
Does not look like issue in Azure CNI.. Can you paste the logs from Azure CNI for the same time.The below error is not from Azure CNI

Jul 18 07:45:02 k8s-agentmd-34767551-2 kubelet[8431]: W0718 07:45:02.692082    8431 docker_sandbox.go:372] failed to read pod IP from plugin/docker: NetworkPlugin cni failed on the status hook for pod "ngin
Jul 18 07:45:02 k8s-agentmd-34767551-2 kubelet[8431]:  wit

[2018-07-18 19:08] jackfrancis commented on #198
Sure thing, where are Azure CNI logs we want to see?

[2018-07-18 19:13] sharmasushant commented on #198
Thanks,
The logs of azure-cni are @ /var/log/azure-vnet*
Also, kubernetes loosing track of node's ip due to cni seems unrelated, but we will definitely look.

[2018-07-18 19:17] jackfrancis commented on #198
`/var/log/azure-vnet-ipam.log` from around the same time as above:

[code]

and `/var/log/azure-vnet.log`:

[code]

[2018-07-19 00:11] sharmasushant commented on #198
@jackfrancis I do not see any issues in the above logs that can cause KUBERNETES to loose track of IP address of a node.

[2018-07-19 00:12] jackfrancis commented on #198
Thanks for checking :)

[2018-07-19 00:19] #198 closed

[2018-07-19 02:19] sharmasushant opened #199 "Issue to test the Teams Connector"

[2018-07-19 02:20] #199 closed

[2018-07-21 01:05] PatrickLang opened #206 "DNS search suffix list is incomplete on Windows"
**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**Which release version?**: 1.0.7

---

**Which component (CNI/IPAM/CNM/CNS)**: CNI

---

**Which Operating System (Linux/Windows)**: Windows Server version 1803 (17134)

---

**Which Orchestrator and version (e.g. Kubernetes, Docker)**: Kubernetes v1.11.1

---

**What happened**:

Windows pods still only get the dns search suffix

[2018-07-21 02:43] atomaras commented on #195
I think it's worth noting that I've been having this issue on a brand new cluster with *barely any containers* running on the failed node.

[2018-07-21 04:01] sharmasushant commented on #195
@atomaras What version of azure-cni and aci-engine are you using? Also, can you please confirm if you are using server 1803 as agent VMs?

[2018-07-21 04:07] atomaras commented on #195
@sharmasushant
acs-engine: 1.19.5
azure-cni: containernetworking/networkmonitor:v0.0.4
k8s: 1.11.1
agent VMs: Server 1803

[2018-07-21 04:15] sharmasushant commented on #195
@atomaras networkmonitor is not valid for windows cluster. Also, I think you mistyped acs-engine version, and missed azure-cni version. Can you please provide those?

[2018-07-21 05:07] atomaras commented on #195
@sharmasushant Fixed the acs-engine version. I have a k8s cluster with 1 linux master and 2 windows nodes. The azure-cni image i mentioned is the actual image acs-engine selected for my cluster.

[2018-07-21 05:20] sharmasushant commented on #195
Can you please paste the first few lines from the log file C:\K\azure-vnet.log
It should contain the version of azure-cni v1.0.xxx

[2018-07-21 07:56] atomaras commented on #195
@sharmasushant  This one?
2018/07/20 20:52:57 [cni-net] Plugin azure-vnet version v1.0.7.

[2018-07-23 18:30] tamilmani1989 commented on #195
@PatrickLang Opened an issue in containernetworking/cni github repo - https://github.com/Azure/azure-container-networking/issues/195

[2018-07-23 19:35] tamilmani1989 commented on #180
https://github.com/Azure/azure-container-networking/pull/197

[2018-07-24 18:25] eosfor opened #209 "failed to setup network"
**Is this a request for help?**:

---

**ISSUE**
---

**Which release version?**:
1.0.8

---

**Which component (CNI/IPAM/CNM/CNS)**:
CNI

---

**Which Operating System (Linux/Windows)**:
Linux

---

**For Linux: Include Distro and kernel version using "uname -a"**
Linux kubetest-worker0 4.15.0-1013-azure #13-Ubuntu SMP Thu May 24 14:42:43 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
---

**For windows

[2018-07-24 18:35] sharmasushant commented on #209
@eosfor Which version of KUBERNETES are you using? Did you setup the cluster using acs-engine, or is it a self managed cluster? Can you please share logs from /var/log/azure-vnet*

[2018-07-24 20:35] eosfor commented on #209
i followed [this guide](https://github.com/kelseyhightower/kubernetes-the-hard-way) trying to adopt it to Azure. I stuck [here](https://github.com/kelseyhightower/kubernetes-the-hard-way/blob/master/docs/09-bootstrapping-kubernetes-workers.md#configure-cni-networking) when trying to setup CNI plugin on the first worker. I installed in successfully, but immediately after installing CNI using sh scr

[2018-07-25 11:11] eosfor commented on #209
i've updated the plugin to v1.0.10 but issue is still the same.

[2018-07-27 02:55] Cherishty commented on #195
Since this issue has not been fixed yet, do we have any quick fix or workaround now? Or I have to re-deploy a totally new cluster?

[2018-07-28 18:02] #209 closed

[2018-07-30 16:17] AaronFriel opened #211 "Occasionally pods cannot create outbound connections"
**Is this a request for help?**: Yes, please. I'm trying to increase visibility on a networking issue with AKS: https://github.com/Azure/AKS/issues/568 that I suspect is related to the CNI plugin.

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

**Which release version?**: Whatever is used with v0.19.2-aks

**Which component (CNI/IPAM/CNM/CNS)**: Probably CNI

**Which Operating Syste

[2018-07-30 19:59] tamilmani1989 commented on #195
We identified the cause of the issue and will fix it in next release. The issue is CNI should not write result to stdout in case of error.

[2018-07-31 19:31] yuedai commented on #206
@PatrickLang, can you explain more about your last statement? Do you mean we can expect a fix from new Kubernetes release?

[2018-07-31 19:59] PatrickLang commented on #206
Yes, will fix in Kubernetes v1.12 and backport to v1.11 and maybe v1.10.

[2018-08-02 01:45] PatrickLang commented on #195
kubelet.log before
[code]

kubelet.log after
[code]

Looks like the error results are parsed correctly now. There are still errors that need investigation but at least they're correct in the logs.

Here's the corresponding error from azure-vnet.log for the curious
[code]

[2018-08-02 01:45] PatrickLang commented on #195
@tamilmani1989 @sharmasushant  - can you get a new azure-cni release with this fix?

[2018-08-02 20:02] PatrickLang opened #214 "azure-cni may leak IP allocations after failing to ADD them to a pod"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**Which release version?**:   master + cherry-pick of #212

---

**Which component (CNI/IPAM/CNM/CNS)**: CNI

---

**Which Operating System (Linux/Windows)**: Windows Server version 1803

---

**Which Orchestrator and version (e.g. Kubernetes, Docker)**: Kubernetes

---

**What happened**:

[2018-08-02 23:56] PatrickLang commented on #214
just a note - we're still trying to determine if this is an azure-cni issue, which would affect both Windows+Linux, or if it's actually a Windows-only kubelet issue.

[2018-08-03 16:22] holmesb opened #215 "Change MTU?"
I can't see this documented anywhere, so thus the question:  Is it possible to change the MTU (Maximum transmission unit) setting using Azure CNI?  I see other network plugins, eg [Calico](https://docs.projectcalico.org/v2.2/usage/configuration/mtu) have this functionality.  Sometimes it's necessary to adjust for compatibility with routers\firewalls.  If not, then this issue is a feature request.

[2018-08-03 17:59] tamilmani1989 commented on #214
@PatrickLang This is not even related to Linux.

[2018-08-03 18:01] tamilmani1989 commented on #214
After debugging yesterday, we found its more of windows KUBERNETES issue and there is no del call to CNI when user removes pod. Please open a issue with windows KUBERNETES GitHub repo.

[2018-08-03 18:01] #214 closed

[2018-08-04 22:53] sharmasushant commented on #211
@AaronFriel  Are you sure its related to Azure CNI. From your logs, it appears that the runner was able to reach dl-cdn.alpinelinux.org to download some packages? Does the get resolved on its own (e.g., you mention that retries work sometimes)?
We can take a look at logs of Azure CNI if you can share files from /var/log/azure-vnet*

Can you also share if you used basic or advanced networking while

[2018-08-04 22:55] sharmasushant commented on #118
@seanknox can you please share an update if your issue is still there?

[2018-08-05 16:53] #206 closed

[2018-08-06 07:00] neumanndaniel opened #217 "Azure NPM network policy apply behavior"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): FEATURE REQUEST

---

**Which release version?**: v1.0.9

---

**Which component (CNI/IPAM/CNM/CNS)**: NPM

---

**Which Operating System (Linux/Windows)**: Linux (Ubuntu) AKS 1.10.6

---

**Which Orchestrator and version (e.g. Kubernetes, Docker)**

AKS 1.10.6 with Advanced Networking
---

**What happ

[2018-08-06 09:15] holmesb commented on #215
Further to this, this is what happens when I try to change a container's MTU from default (1500) to 1400:
[code]

[2018-08-07 20:00] daschott opened #218 "Azure CNI is leaking IPs leading to exhaustion"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**Which release version?**: master + cherry-pick of #212

---

**Which component (CNI/IPAM/CNM/CNS)**: CNI

---

**Which Operating System (Linux/Windows)**: Windows Server version 1803

---

**Which Orchestrator and version (e.g. Kubernetes, Docker)**: Kubernetes

---

**What happened**:
Af

[2018-08-07 20:31] tamilmani1989 commented on #217
@saiyan86

[2018-08-09 13:30] sylr opened #222 "Azure CNI & Accelerated Networking/Azure Route tables"
I'm wondering if Azure CNI is compatible with `Accelerated Networking`.

I've deployed a cluster several time with both accelerated networking enabled and disabled on the agent `VMSS` and each time `Accelerated Networking` was enabled I ended up having problem with the network.

The observed problem was the impossibility to contact a pod hosted on one node from a second pod hosted on a second node

[2018-08-10 10:09] guhuajun commented on #82
@sharmasushant Is it possible to get IP addresses without pre-allocataing them?

[2018-08-10 15:38] sharmasushant commented on #82
@guhuajun That is not possible today. If you can make calls to azure from your VM, then you can allocate more IPs as needed, but that will require you to create a service principal that you can use from within the VM.

[2018-08-10 15:47] sharmasushant commented on #222
@sylr Are you sure you are using Azure CNI? It does not require a route table to work. You can confirm if azure cni was used to setup PODs by looking at the log files on the agent nodes @ /var/log/azure-vnet*

[2018-08-10 15:57] sylr commented on #222
Hi, @sharmasushant

Very interesting question, I'm not at work anymore so I can't answer you clearly.

What I know is that I've some Azure CNI components installed on my nodes (it's part of the acs-engine deployment) but I can't be certain it is used.

What I know it that I use the `networkPolicy None` in my acs-engine deployment so maybe @jackfrancis could tell us if I use it in such cluster.

[2018-08-10 17:04] sharmasushant commented on #222
If you used latest or recent acs-engine, then you should be using Azure cni, and you should not require route table setup for communication to work. What version of acs-engine you used?

[2018-08-10 22:02] saiyan86 commented on #217
@neumanndaniel Thanks for the feedback. We'll adjust the order accordingly.

[2018-08-11 06:56] guhuajun commented on #82
@sharadagarwal Thanks for updating! This solution works fine in Azure Global.
By the way, is azure-vnet compatible with Azure China (code name, mooncake) or Azure Stack?

[2018-08-11 08:01] sharmasushant commented on #82
This works in mooncake and all other national clouds.

[2018-08-13 21:26] tamilmani1989 commented on #218
v1.0.11 got a fix for this issue

[2018-08-13 21:26] #218 closed

[2018-08-14 01:06] PatrickLang commented on #195
This fix is available in ACS-Engine now:
https://github.com/Azure/acs-engine/releases/tag/v0.20.9

[2018-08-14 01:06] PatrickLang commented on #218
This fix is available in ACS-Engine now:
https://github.com/Azure/acs-engine/releases/tag/v0.20.9

[2018-08-15 02:09] #124 closed

[2018-08-15 02:11] sharmasushant commented on #211
@AaronFriel Please close if issue is resolved or if help from us is no longer needed.

[2018-08-15 02:12] sharmasushant commented on #222
@sylr Any update? Please share acs-engine version? And the Azure CNI logs from /var/log/azure-vnet* so that we can validate Azure CNI version as well.

[2018-08-15 22:51] PatrickLang opened #232 "Malformed errors returned when key-value store is locked"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**Which release version?**: v1.0.11

---

**Which component (CNI/IPAM/CNM/CNS)**: CNI

---

**Which Operating System (Linux/Windows)**: Windows Server version 1803

**Which Orchestrator and version (e.g. Kubernetes, Docker)**: Kubernetes v1.10.6

---

**What happened**:

When I try to scale

[2018-08-16 11:43] sylr commented on #222
Like I said I use `networkPolicy None` and after some research it means it uses Kubenet so I'm not using CNI even if it has been installed on the nodes:

[code]
So I guess my problem is not related to Azure CNI after all.

Sorry to have bothered you.

[2018-08-16 11:43] #222 closed

[2018-08-16 15:02] rrudduck commented on #91
Any updates on this issue being fixed natively in the CNI plugin? While we could use the script above and automate it, this seems like something the plugin should do natively and is probably a simple change. I'm happy to look at creating a PR if needed.

Thanks.

[2018-08-17 11:43] adhodgson1 opened #235 "A Compute System with the specified identifier does not exist."
**Is this a request for help?**: Yes
**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue
**Which release version?**: azure-vnet-cnm-windows-amd64-v1.0.11.zip
**Which component (CNI/IPAM/CNM/CNS)**: CNM
**Which Operating System (Linux/Windows)**: Windows Server 1803
**For windows: provide output of "$(Get-ItemProperty -Path "C:\windows\system32\hal.dll").VersionInfo.FileVersion"**: 10.0.17

[2018-08-17 23:00] techbunny commented on #235
I'm having the same issue.  My logs below:

2018/08/17 22:33:32 [ipam] Refreshing address source.
2018/08/17 22:33:32 [ipam] Save succeeded.
2018/08/17 22:33:32 [ipam] Requesting address with address: options:map[azure.address.id:].
2018/08/17 22:33:32 [ipam] Address request completed with address:10.0.0.8/24 err:<nil>.
2018/08/17 22:33:32 [ipam] Save succeeded.
2018/08/17 22:33:32 [azure-vnet-ipa

[2018-08-18 19:05] AaronFriel commented on #211
I'm closing this issue for the time being, here is the issue I created on the gitlab-runner project: https://gitlab.com/gitlab-org/gitlab-runner/issues/3485

[2018-08-18 19:05] #211 closed

[2018-08-20 16:59] Daryltp opened #237 "Azure NPM error on AKS 1.10.5 - ErrorMessage:exit status 4 EventMessage:Delete network policy"
ISSUE
**Which release version?**: 1.0.9
**Which component (CNI/IPAM/CNM/CNS)**:CNI

**Which Orchestrator and version (e.g. Kubernetes, Docker)**
Kubernetes v1.10.5 on AKS

---

**What happened**: I get the following error in the azure npm pod when I install the Azure NPM Daemonset and NetworkPolicies do not behave as expected. IE a deny all rule give a timed out error rather than connection refuse

[2018-08-20 17:33] saiyan86 commented on #237
@Daryltp Thanks for the feedback. Will take a look!

[2018-08-20 17:35] tamilmani1989 commented on #235
can you please send us following files?
1. /var/log/azure-vnet*
2. /var/lib/azure-network/azure-vnet*

[2018-08-20 19:03] plooploops commented on #235
@tamilmani1989 & @saiyan86 I'm seeing the same issue as @techbunny too.  Please see the logs below:

2018/08/17 19:26:46 Running on windows
2018/08/17 19:26:46 [net] Network interface: {Index:13 MTU:1500 Name:vEthernet (Ethernet 2) HardwareAddr:00:0d:3a:19:70:28 Flags:up|broadcast|multicast} with IP addresses: [fe80::3dd8:96fb:920:d1dc/64 10.0.0.8/24]
2018/08/17 19:26:46 [net] Network interface: {

[2018-08-21 09:54] adhodgson1 commented on #235
Here is my log as well:

2018/08/17 11:30:23 [azure-vnet-ipam] Received *ipam.RequestAddressRequest &{PoolID:local|10.81.7.128/28 Address: Options:map[]}.
2018/08/17 11:30:23 [ipam] Refreshing address source.
2018/08/17 11:30:23 [ipam] Save succeeded.
2018/08/17 11:30:23 [ipam] Requesting address with address: options:map[azure.address.id:].
2018/08/17 11:30:23 [ipam] Address request completed wit

[2018-08-21 12:55] carlpett opened #239 "Missing upgrade instructions"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Feature request

---

**Which release version?**: N/A

---

It would be helpful if there were upgrade instructions for how to upgrade from one version of the plugin to another, including impact on the system during upgrade and any precautions to take (like if the node should be cordoned). Also if there

[2018-08-22 23:05] sharmasushant commented on #239
@carlpett
Have you tried the following script: https://github.com/Azure/azure-container-networking/blob/master/scripts/install-cni-plugin.sh

You need to cordon the node before upgrading using the script. The script requires only one parameter

./install-cni-plugin.sh v1.0.11

There are n opost upgrade steps (Except uncordon the node).

[2018-08-23 19:25] plooploops opened #241 "Make All-Binaries on WSL Failing to build NPM"
**Is this a request for help?**:
Yes, it's a request for help.
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue.
---

**Which release version?**:
Latest
---

**Which component (CNI/IPAM/CNM/CNS)**:
CNM
---

**Which Operating System (Linux/Windows)**:
Linux
---

**For Linux: Include Distro and kernel version using "uname -a"**
Linux MININT-7P8IGVC 4.4.0-17134-Microsoft #137-Microso

[2018-08-24 18:01] plooploops commented on #241
Looks like resetting the environment to look like what's in the Dockerfile.build and in the Dockerfile.cnm will help resolve the WSL environment.

Here's what I did locally:
[code]

[2018-08-24 18:01] #241 closed

[2018-08-24 19:01] sharmasushant commented on #241
Thanks for sharing resolution steps.

[2018-08-29 18:59] coreywagehoft commented on #141
Any updates on this @sharmasushant ?

[2018-08-29 19:00] coreywagehoft commented on #128
Any updates on this @sharmasushant ?

[2018-08-31 06:21] msuiche opened #242 "[cni] Timed out on locking store, err:Store is locked."
**Is this a request for help?**:
---

Yes.

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
---

ISSUE.

**Which release version?**:
---
Plugin azure-vnet version v1.0.10.

**Which component (CNI/IPAM/CNM/CNS)**:
---
CNI

**Which Operating System (Linux/Windows)**:
---
Windows Server 1803
[code]
---

**Which Orchestrator and version (e.g. Kubernetes, Docker)**
---
[code]

**What happened**:

[2018-08-31 09:12] msuiche commented on #242
Some additional logs from
`azure-vnet-ipam.log`

[code]

2018/08/30 12:10:28 [cni-net] Plugin azure-vnet version v1.0.10.
2018/08/30 12:10:28 [cni-net] Running on windows
2018/08/30 12:10:28 [net] Network interface: {Index:8 MTU:1500 Name:vEthernet (Ethernet 2) HardwareAddr:00:0d:3a:2f:bd:ac Flags:up|broadcast|multicast} with IP addresses: [fe80::e59e:d65:cb33:6df7/64 10.240.0.127/12]
2018/08/30 1

[2018-09-05 19:36] msuiche commented on #242
Please find the requested file attached. Thanks.
[azure-vnet-ipam.log](https://github.com/Azure/azure-container-networking/files/2354315/azure-vnet-ipam.log)
[azure-vnet.log](https://github.com/Azure/azure-container-networking/files/2354316/azure-vnet.log)

[2018-09-06 23:08] plooploops commented on #235
@PatrickLang @jsturtevant @techbunny @ivegamsft

Just to add some additional context on this one, it looks like the CNM plugin will be able to pull an Azure IP address.  However, when trying to attach the endpoint, as @sharmasushant mentioned, the endpoint information doesn't have the container ID in it.

We are able to remote debug the CNM plugin in an Azure VM, and try to spin up a Windows Conta

[2018-09-07 21:06] PatrickLang commented on #242
@sharmasushant do you need more info here?

I see this when multiple containers are starting at the same time. Have you considered adding a retry/backoff loop to avoid returning this on overlapped CNI calls?

[2018-09-10 21:04] daschott commented on #232
Could this be related at all to https://github.com/docker/libnetwork/issues/1950 ?

[2018-09-11 23:43] PatrickLang commented on #242
Also #194 may be same issue

[2018-09-12 22:52] jhowardmsft commented on #232
Looking at the code here, I strongly suspect this is actually another instance of https://github.com/etcd-io/bbolt/pull/122, which fixes https://github.com/docker/libnetwork/issues/1950. This repo uses libnetwork, so it would make sense that the two things are related. libnetwork in turn uses libkv.

So far:

- https://github.com/etcd-io/bbolt/pull/122 has been merged and available in https://gith

[2018-09-12 23:12] jhowardmsft commented on #194
Suspect root cause is as described in https://github.com/Azure/azure-container-networking/issues/232#issuecomment-420824623

[2018-09-13 15:32] bclau opened #245 "Kubernetes pod containers' DNS suffix has the wrong namespace"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**Which release version?**: v1.0.11 (used by acs-engine v0.21.2)

---

**Which component (CNI/IPAM/CNM/CNS)**: CNI

---

**Which Operating System (Linux/Windows)**: Windows

---

**For Linux: Include Distro and kernel version using "uname -a"**

---

**For windows: provide output of "$(Get-

[2018-09-13 15:33] bclau commented on #245
@PatrickLang

[2018-09-14 08:39] msuiche commented on #242
@PatrickLang Yes, this problem is definitely a regression we didn't have it before.

[2018-09-17 05:05] msuiche commented on #242
@sharmasushant
Unfortunately, I can't RDP to the machine now. There are plenty of similar issues already for several months. Have you tried to deploy a Windows 1803 Pool Agent from ACS-Engine on Azure? That's basically how we get the issues every time we try to create our cluster.

[2018-09-17 08:13] msuiche commented on #242
@sharmasushant The messages are from kubelet.err.log

- [kubelet.err.log](https://github.com/Azure/azure-container-networking/files/2387714/kubelet.err.log)
- [azure-vnet.log](https://github.com/Azure/azure-container-networking/files/2387734/azure-vnet.log)
- [azure-vnet-ipam (1).log](https://github.com/Azure/azure-container-networking/files/2387735/azure-vnet-ipam.1.log)

`cni.go:280` fails.

[co

[2018-09-18 21:31] PatrickLang commented on #242
@sharmasushant - do you need any more info on this failure? Is there any ETA for a fix?

[2018-09-19 05:43] msuiche commented on #242
As far as I understand this is far to be an isolated issue as I've seen multiple issues with it. It's 100% reproducible on our side, we basically can't start a Windows container at all. I'm sure this impacts a lot of customers.

[2018-09-19 06:42] sharmasushant commented on #242
@msuiche we can try to reproduce this on our side. The logs that you are attaching do not have the error. To unblock yourself, you can delete azure-vnet.json.lock file

[2018-09-19 08:09] sharmasushant commented on #242
@PatrickLang We can do the change to add more retries/adjust timeout to accommodate multiple parallel POD deployments. However, this issue looks a little different that we have not yet repro'ed.

[2018-09-19 17:48] neumanndaniel commented on #217
Any update, when this will be fixed?

[2018-09-19 22:49] jhowardmsft commented on #242
I don't know a lot about CNI (well anything), but there's certainly a few issues in this repo reading the code. I've put together some fixes in https://github.com/jhowardmsft/azure-container-networking/commit/a3868463451abb1b041915d856758ef761950eb5 and asked @PatrickLang to verify that internally before I put a PR in here.

[2018-09-19 22:59] sharmasushant commented on #242
@jhowardmsft PR are always welcome. Thanks for your effort on working on these!

[2018-09-19 23:36] jhowardmsft commented on #242
@sharmasushant How can I build this in WSL? I'm trying to get azure-vnet.exe and azure-vnet-ipam.exe for Patrick, but `make all-binaries` in WSL is only generating Linux variants, although does build azure-vnet-plugin.exe:

[code]

[2018-09-19 23:41] jhowardmsft commented on #242
NVM, figured it :)

[2018-09-20 02:02] jhowardmsft commented on #242
Submitted https://github.com/Azure/azure-container-networking/pull/247 to fix this.

[2018-09-24 06:48] msuiche commented on #242
Awesome. Will try this ASAP.

[2018-09-24 12:16] PatrickLang commented on #242
@msuiche - both of those errors are just noise in the logs. They won't prevent the pod from starting. Both are fixed in v1.12.

What does `kubectl describe pod …` show for that pod? Any other errors in the log?

[2018-09-27 20:41] JarekToro opened #250 "VNET in App Services Container"
**Is this a request for help?**:

This is a Clarification uses of this software

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue kind of I need to understand if I can use this in an  app services container.

**Which release version?**:

CNI 0.6.0

**Which component (CNI/IPAM/CNM/CNS)**:

CNI/IPAM

**Which Operating System (Linux/Windows)**:

Linux

**For Linux: Include Distro and ker

[2018-09-27 22:01] daschott commented on #232
@dineshgovindasamy @madhanrm Are there any other CNI fixes needed here to move to updated libnetwork as @jhowardmsft indicates?

[2018-09-27 23:17] daschott commented on #245
@bclau Which conformance tests is this blocking? The 2 DNS ones, or any other ones?

[2018-09-27 23:30] sharmasushant commented on #245
we can make this change in azure cni to add all prefixes... there was a early discussion about this that Kubernetes in windows will handle this the same way they are doing it for Linux (and nto rely on cni). But lets make this change in Azure CNI if it help.. @saiyan86  can you please take this up.

[2018-09-27 23:36] daschott commented on #245
@dineshgovindasamy FYI

[2018-09-27 23:47] daschott commented on #245
@sharmasushant by Kubernetes on Windows do you mean  https://github.com/kubernetes/kubernetes/pull/67435 or separate work?

[2018-10-01 03:53] msuiche commented on #242
[code]

[2018-10-01 20:09] saiyan86 commented on #245
@sharmasushant I'm on it.

[2018-10-01 23:34] #242 closed

[2018-10-02 00:18] nagiesek commented on #245
Another bug: Network should not be getting created with a DNS suffix, this overrides the endpoint's dns config. The reason for this issue is when the network is being created, the network takes the namespace of the first service created, and sets this as the dns suffix. When endpoints come from different services/namespaces they take their dns config from network. There is a bug in platform where

[2018-10-02 09:48] stigok commented on #176
Experiencing the same issue today with a Stateful Set replica failing to deploy due to "No addresses available". AKS Kubernetes v1.10.6.

- Scaling the sts down to 0 replicas then up again did not work.
- Deleting the sts and re-creating it worked

[2018-10-02 11:04] serbrech opened #252 "iptables commands should wait on xtables lock"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**Which release version?**:
master

---

**Which component (CNI/IPAM/CNM/CNS)**:
CNS, Network Policy Manager, and really everything touching iptables.

---

**Which Operating System (Linux/Windows)**:
Linux

---

**Which Orchestrator and version (e.g. Kubernetes, Docker)**

---

**What happen

[2018-10-03 05:07] #189 closed

[2018-10-09 01:29] sharmasushant commented on #250
@JarekToro You cannot at the moment. I believe we do have plans that will allow you to create azure webapps for containers and connect to specific Vnet. But I am not sure about the timeline.

[2018-10-09 16:16] PatrickLang commented on #245
Any updates on this?

[2018-10-09 16:40] sharmasushant commented on #245
@PatrickLang  Have done the change.. We are validating it right now. @saiyan86 can add more as we make progress.

[2018-10-09 21:52] saiyan86 commented on #245
@PatrickLang @sharmasushant The fix is in #254

[2018-10-10 22:30] #245 closed

[2018-10-11 21:59] saiyan86 commented on #237
@Daryltp This is by design. The attacker will know the port is listening if we reject the connection instead of silently dropping it.

[2018-10-11 21:59] #237 closed

[2018-10-12 21:09] MarcPow opened #260 "Azure CNI fails to startup/teardown pods with a parse failure error"
**Is this a request for help?**: Yes.

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**Which release version?**: (Version of CNI plugin included with ACS-Engine 0.22.4)

---

**Which component (CNI/IPAM/CNM/CNS)**: CNI

---

**Which Operating System (Linux/Windows)**: Windows

---

**For Linux: Include Distro and kernel version using "uname -a"**

N/A
---

**For windows:

[2018-10-12 21:11] MarcPow commented on #260
This may be related to #195

[2018-10-17 01:47] MarcPow opened #261 "Support hostPorts in Azure CNI"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Feature Request
---

**Which release version?**:

1.0.13
---

**Which component (CNI/IPAM/CNM/CNS)**:

CNI
---

**Which Operating System (Linux/Windows)**:

Windows (1803)
---

If this is a FEATURE REQUEST, please:
  - Describe *in detail* the feature/behavior/change you'd like to see.

I was using a test bed in Azure to evaluate a software I

[2018-10-17 01:49] MarcPow commented on #261
This may have been implicitly fixed by #256

[2018-10-17 01:59] MarcPow commented on #261
Linking to https://github.com/kubernetes/kubernetes/issues/23920 (in case anyone else comes across this problem)

[2018-10-22 23:49] saiyan86 commented on #261
@MarcPow Thanks for reporting the issue! Could you please fill out all required fields in the template? Thanks!

[2018-10-22 23:51] saiyan86 commented on #261
@MarcPow If the platform is Windows, then I think it is fixed by #256. Closing this.

[2018-10-22 23:51] #261 closed

[2018-10-24 09:39] xelor81 opened #264 "[SOLVED] plugin failed to create network: Exit status 255"
**Is this a request for help?**:
Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue

---

**Which release version?**:
1.0.12

---

**Which component (CNI/IPAM/CNM/CNS)**:
CNI

---

**Which Operating System (Linux/Windows)**:
Linux

---

**For Linux: Include Distro and kernel version using "uname -a"**
[code]

---

**Which Orchestrator and version (e.g. Kubernetes, Docker)**
Kub

[2018-10-25 17:30] sharmasushant commented on #264
@xelor81 Can you please check if you have ebtables installed on the VM? I am assuming this is a vm running in Azure.

[2018-10-26 07:12] xelor81 commented on #264
@sharmasushant I have checked and ebtables is present but there is no rules defined

[code]

[2018-10-29 08:08] xelor81 commented on #264
I had also find some details in journalctl which indicates that azure- cannot generate persistent MAC address for that interface.

[code]

[2018-10-29 16:22] daschott commented on #245
Whoops, I was given the wrong binary, apologies. I tried it out again by building from master and confirm this is fixed.

[2018-10-30 19:15] tamilmani1989 commented on #264
@xelor81 Can you give access to VM if I share my public key?

[2018-11-02 08:12] xelor81 commented on #264
yes I think I can do that. pls send me private mesg and we can organize some time for you to investigate but only for very limited time.

[2018-11-02 19:39] MarcPow opened #266 "Request Release 1.0.13"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Feature Request
---

**Which release version?**:

1.0.13
---

I'm interested in testing the newest fixes under ACS Engine.

[2018-11-06 18:10] moomzni commented on #252
We're experiencing this issue running on AKS v1.10.5 clusters with Kube-router.

We are seeing kube-router crash and restart every 5 minutes with error messages similar to the below:

[code]

[2018-11-06 18:18] marrobi commented on #252
I'm not sure how Azure CNI uses iptables, but dosee references to iptables commands in a number of places, such as https://github.com/Azure/azure-container-networking/blob/45914be23d765486e29ac0190a6a0a0c9383e73a/platform/os_linux.go#L79

There does not seem to be a wait argument on the command?

[2018-11-06 19:57] tamilmani1989 commented on #252
Azure CNI never calls this function SetOutboundSNAT. Its used by CNS not CNI.
https://github.com/Azure/azure-container-networking/blob/45914be23d765486e29ac0190a6a0a0c9383e73a/platform/os_linux.go#L78

Azure CNI is not calling any iptable commands.

[2018-11-09 09:19] xelor81 commented on #264
Can anyone support me with this matter - is there anything I am missing here? Issue looks like it is closely related with cni.go code on line 260 and 228 however the only cni.go file in this project has only like 32 lines. I am really stuck here.

[2018-11-09 10:44] malachma opened #267 "Add a version option for each of the bins"
**Is this a request for help?**:
NO
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST
---

**Which release version?**:
any
---

**Which component (CNI/IPAM/CNM/CNS)**:
any
---

**Which Operating System (Linux/Windows)**:
any

For support engineers and admins it would be quit handy to know the current version installed, in order to determine whether the latest Version has

[2018-11-14 16:01] MarcPow commented on #266
Closed via https://github.com/Azure/azure-container-networking/releases/tag/v1.0.13.

Thank you!

[2018-11-14 16:01] #266 closed

[2018-11-19 22:38] tamilmani1989 commented on #264
@xelor81 I already shared public key with one of the support guys. He told he will contact you regarding this but I didn't get back from him either.

[2018-11-20 11:58] xelor81 commented on #264
@tamilmani1989 I had added your key to host authorized keys. please use public delivered through support person.

[2018-11-20 19:17] tamilmani1989 commented on #264
@xelor81 I got access to vm. Still i'm not sure the reason for failure. Can i get access to master VM? so that I can create pod and check whats happening in agent  node.

[2018-11-21 08:07] xelor81 commented on #264
This is the master VM. You can see that there are kube-apiserver and
kube-scheduler and kube-controller-manager running there.

wt., 20 lis 2018 o 20:17 tamilmani1989 <notifications@github.com>
napisał(a):

[2018-11-28 19:22] tamilmani1989 commented on #264
I'm getting this error when i run this command. Did you hit same error?

avid-user@jluzny-eastus2-coremaster1 ~ $ kubectl get pods
-bash: kubectl: command not found

[2018-11-29 09:11] xelor81 commented on #264
Thats because there is no kubectl installed there. What I do is create an ssh tunnel to this hosts and configure portforwarding option to the kubeapi port. Then from my local box where I have kubectl installed and having proper kubeconfig in place I am able to manage this cluster.

For t-shoot purposes I had installed kubectl in /opt/bin and incuded in the PATH

[2018-11-29 22:06] tamilmani1989 commented on #264
@xelor81
1. Quick thought - Have you installed ebtables in agent nodes also?
2. which server and port is kubeserver running? I tried this

is it kubectl -s <address>:<port> get pods ? let me know address and port

[2018-11-30 10:50] xelor81 commented on #264
@tamilmani1989

more likely you havent been using root account. Please sudo to root account. Kubectl wroks for me. Also if you read the very first post in this issue you can find that kubernetes config is available in /var/lib/kubelet/kubeconfig. You can simply copy the content of it to the ~/.kube/config file of account you are using (this is already done in the root account) From the config you

[2018-11-30 16:51] justpolidor commented on #128
Same issue here.

[2018-12-03 16:08] mersadk opened #271 "Invalid CIDR address"
I have VM on Azure and run Docker containers in it. I want to connect Docker containers directly to Azure VNET. I've downloaded azure-vnet-cnm-windows-amd64-v1.0.14, started plugin and followed steps from https://github.com/Azure/azure-container-networking/blob/master/docs/cnm.md

When I run following command
`docker network create --driver=azure-vnet --ipam-driver=azure-vnet --subnet=10.0.0.0/24

[2018-12-04 18:02] ai2admin opened #272 "Random Windows node stops working with "NetworkPlugin cni failed to set up pod ..." error"
**Is this a request for help?**: yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**Which release version?**:
acs-engine v0.25.3
kubernetes v1.10.9
CNI v0.3.0
Windows Server 1709

---

**Which component (CNI/IPAM/CNM/CNS)**:
CNI

---

**Which Operating System (Linux/Windows)**:
Linux master, Windows agent

---

**For Linux: Include Distro and kernel version using "uname

[2018-12-06 12:09] mersadk commented on #271
I was able to solve this by creating new IP configuration. It's mentioned [here](https://github.com/Azure/azure-container-networking/blob/master/docs/ipam.md) in documentation, but it can be easily done using portal.azure.com (find your _Network Interface_, go to _IP configurations_ and add new).
I also had to run _azure-vnet-plugin.exe_ as admin.

But it still doesn't work, now I have issue descr

[2018-12-07 23:16] tamilmani1989 commented on #264
@xelor81
My apologies for delayed response. I got pulled into some other work.

I tried creating pods in your setup and I'm able to. I didn't get any issues. I deployed nginx pods and its in running state. Let me know in which scenario you hit the issue.

[2018-12-11 13:54] xelor81 commented on #264
PLS ignore closing issue - I did a missclick.

@tamilmani1989 Indeed the pods are seems to be working now I will make some additional tests to see if this is fixed. I will deploy another kubernetes master and few nodes with same settings and I will get back to you.

BTW its very weird that now pods started to work if nothing was changed on the VM. Any idea what was error 255 mean and which is refe

[2018-12-11 17:39] PleachiM opened #274 "no json in C:\cni\netconf"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**Which release version?**:
v1.0.12
---

**Which component (CNI/IPAM/CNM/CNS)**:
cni
---

**Which Operating System (Linux/Windows)**:
Windows
---

**For Linux: Include Distro and kernel version using "uname -a"**

---

**For windows: provide output of "$(Get-ItemProperty -Path "C:\windows\sy

[2018-12-11 19:10] ashvindeodhar commented on #274
Please check it under C:\k\azurecni\netconf\ as 10-azure.conflist

[2018-12-12 23:12] tamilmani1989 commented on #264
I looked at logs and it seems that ebtables was not installed at that point to me.

nothing as far as i know.

[2018-12-12 23:15] tamilmani1989 commented on #272
Thank you @ai2admin . We are working on that

[2018-12-13 07:37] Cherishty commented on #195
Hi team, I was meeting a regression on this issue on my k8s cluster deployed by **acs-engine 0.21.2**, the with the similar error in the **kubelet.log**, another error reported as:

 and when I describe pods I find the **pvc of azurefile** mounts error which results in **Pod sandbox changed**, see below:
[code]

[2018-12-13 15:17] xelor81 commented on #264
weird if ebtables were not installed why it respond to the ebtable -t nat -L command? is plugin utilising like full path to ebatles or ebables command must be included in PATH env variable?

[2018-12-13 17:03] tamilmani1989 commented on #264
@xelor81  did you run this command before the issue happens or after....because im not sure if its installed before creating pods

[2018-12-13 22:30] sharmasushant commented on #215
@holmesb  we do not have a plan to support this right now. if there is a valid scenario for this in Azure, we are open to revisit the requirement with the reason.

[2018-12-13 22:30] #215 closed

[2018-12-13 22:32] sharmasushant commented on #239
Instruction were added here: [Upgrade Azure cni Instructions](https://github.com/Azure/azure-container-networking/blob/master/docs/cni.md#upgrading-cni-on-existing-kubernetes-cluster-deployed-using-acs-engine)

[2018-12-13 22:32] #239 closed

[2018-12-13 22:36] sharmasushant commented on #250
I believe this is released for windows here; [Web Apps for Windows](https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet)

For linux, I know there are plans, but i am not sure about the timeline.

[2018-12-13 22:36] #250 closed

[2018-12-13 22:40] sharmasushant commented on #267
this was added for azure cni

`azure-vnet --version`

[2018-12-13 22:40] #267 closed

[2018-12-13 22:41] sharmasushant commented on #271
Lets track #235 separately. I am closing this one.

[2018-12-13 22:41] #271 closed

[2018-12-13 23:09] ashvindeodhar commented on #111
We don't plan to make this change at this point. We will reconsider if needed in future.

[2018-12-13 23:09] #111 closed

[2018-12-14 00:43] AceHack commented on #141
Yes any updates?

[2018-12-14 00:47] AceHack opened #276 "Create High Availability (HA) documentation for upgrading"
Currently the docs here

https://github.com/Azure/azure-container-networking/blob/master/docs/cni.md#upgrading-cni-on-existing-kubernetes-cluster-deployed-using-acs-engine

Explain how to upgrade but require Cordon all the nodes which causes down time.

Please create a version of the documentation that shows how to do it in a HA way.

Thanks.

[2018-12-14 00:49] AceHack commented on #239
These instructions require full cluster down time, please create docs that explain how to upgrade with 0 down time at a cluster level.

[2018-12-14 00:53] AceHack opened #277 "Create K8s deployment for upgrades"
Please create a K8s deployment file that can do CNI upgrades like Amazon.

https://docs.aws.amazon.com/eks/latest/userguide/cni-upgrades.html

What would be even better would to be to go one step further and make this capable of auto upgrades.

[2018-12-14 07:52] AceHack opened #278 "Add AKS upgrade instructions"
Trying to do this now.

Thanks.

[2018-12-14 17:44] #274 closed

[2018-12-14 20:49] selansen commented on #111
Is there any specific reason why this issue is not getting addressed ?

[2018-12-17 13:41] xelor81 commented on #264
ebtables are delivered/installed on CoreOS by default.

[2018-12-18 14:11] RahulMetangale opened #280 "Getting an error "failed to set gateway while updating gateway: route for the gateway could not be found: network is unreachable""
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**Which release version?**:
1.0.15
---

**Which component (CNI/IPAM/CNM/CNS)**:
CNM
---

**Which Operating System (Linux/Windows)**:
Ubuntu 16.04
---

**For Linux: Include Distro and kernel version using "uname -a"**
Linux AZLXSPTSYNDEVTSTAP01 4.15.0-1035-azure #36~16.04.1-Ubuntu SMP Fri Nov

[2018-12-18 19:20] tamilmani1989 commented on #280
@RahulMetangale Can you send me /var/log/azure-vnet.log file? Also let me know the timestamp you tried to create container

[2018-12-18 20:02] xelor81 commented on #264
I am currently on a sick leave. I run initial test on the latest 1.11.5 and latest CoreOS image available from azure cloud. Exit 255 still occurs using same CNI plugin and azure-vnet plugin as before. When used

0.74 CNI plugin and
1.0.14 azure-vnet plugin

I got report from azure-vnet plugin that IP address cannot be delivered as I am out of  my IP pool. Exact log I can present later this week as

[2018-12-18 20:56] IvanovOleg commented on #128
This issue is related to a missing firewall rule.
Add the next string to the kubelet systemd service:
`ExecStartPre=-/sbin/iptables -t nat -A POSTROUTING -m iprange ! --dst-range 168.63.129.16 -m addrtype ! --dst-type local ! -d $NETWORK_ADDRESS_RANGE -j MASQUERADE`

[2018-12-18 21:43] PatrickLang commented on #194
Closing, this hasn't been seen in a while.

[2018-12-18 21:43] #194 closed

[2018-12-20 04:10] RahulMetangale commented on #280
@tamilmani1989 if you are available now we can do a screen share. Else please let me know a suitable time to discuss this.

[2019-01-03 01:06] PatrickLang opened #283 "Cannot start Windows pods after reboot `hnsCall failed in Win32: Element not found`"
**Is this a request for help?**:
No, issue is under investigation already
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**Which release version?**:
1.0.14
---

**Which component (CNI/IPAM/CNM/CNS)**:
CNI
---

**Which Operating System (Linux/Windows)**:
Windows Server 2019
---

**Which Orchestrator and version (e.g. Kubernetes, Docker)**
Kubernetes - reported on v1.13.1
---

[2019-01-03 01:31] ashvindeodhar commented on #283
@PatrickLang Partial fix has merged : https://github.com/Azure/azure-container-networking/pull/281. We also need to remove the old HNS networks on reboot. I am adding the fix for that.

[2019-01-03 08:07] RahulMetangale commented on #280
@tamilmani1989 Hi Please let me know when we can do a screen sharing session.

[2019-01-11 16:07] carlsoncoder opened #287 "KillPodSandbox errors relating to CNI after windows node reboot"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**Which release version?**:
1.0.15
---

**Which component (CNI/IPAM/CNM/CNS)**:
CNI
---

**Which Operating System (Linux/Windows)**:
Windows - Datacenter-Core-1803-with-Containers-smalldisk
---

**For windows: provide output of "$(Get-ItemProperty -Path "C:\windows\system32\hal.dll").Version

[2019-01-11 18:07] sharmasushant commented on #287
@ashvindeodhar  Will v1.0.16 help with this?

[2019-01-11 18:32] ashvindeodhar commented on #287
@carlsoncoder we released a new version https://github.com/Azure/azure-container-networking/releases/tag/v1.0.16 that fixed issue #283. Can you please pick up this release and check?

[2019-01-11 18:32] ashvindeodhar commented on #283
Released the version https://github.com/Azure/azure-container-networking/releases/tag/v1.0.16 that fixes this.

[2019-01-11 18:32] #283 closed

[2019-01-11 22:12] mikeroyal opened #288 "Snap package support(Feature Request)"
I was thinking the install and setup could be improved for Ubuntu and other Linux distros by having a [snap package](https://snapcraft.io/) version. If it's not a priority would you mind if I made the snap as a contribution?

[Crafting your first snap](https://tutorials.ubuntu.com/tutorial/create-your-first-snap#0)

[Build and test snap](https://snapcraft.io/build)

[Getting Started snap template]

[2019-01-14 21:32] saiyan86 commented on #288
@mikeroyal Thanks for the contribution! However, is there any specific reason for doing this? Azure CNI is mainly consumed by AKS/AKS-engine in Azure. Do you have any scenario in which we need this?

[2019-01-14 23:32] PatrickLang opened #289 ""timed out locking store" leads to "unexpected end of JSON input" on v1.0.16"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**Which release version?**:
v1.0.16
---

**Which component (CNI/IPAM/CNM/CNS)**:
CNI
---

**Which Operating System (Linux/Windows)**:
Windows
---

**For windows: provide output of "$(Get-ItemProperty -Path "C:\windows\system32\hal.dll").VersionInfo.FileVersion"**
Windows Server 2019 / 10.0.17763.194
---

**Which Orchestrator and ver

[2019-01-14 23:58] ashvindeodhar commented on #289
@PatrickLang  can you please share the Azure-vnet.log ?

[2019-01-14 23:59] ashvindeodhar commented on #289
Also please share Azure-vnet-ipam.log

[2019-01-15 00:41] PatrickLang commented on #289
Also - here's an example of scaling up 10 pods after rebooting the node. There's a bimodal distribution between pods starting in 60-100 seconds, and the rest are all 3 mins+.

[code]

[2019-01-15 00:46] PatrickLang commented on #289
[plang0114_logs.zip](https://github.com/Azure/azure-container-networking/files/2757622/plang0114_logs.zip)

[2019-01-15 07:13] ashvindeodhar commented on #287
@carlsoncoder you are right. Use following in your cluster definition.
			"kubernetesConfig": {
				"azureCNIURLLinux": "https://github.com/Azure/azure-container-networking/releases/download/v1.0.16/azure-vnet-cni-linux-amd64-v1.0.16.tgz",
				"azureCNIURLWindows": "https://github.com/Azure/azure-container-networking/releases/download/v1.0.16/azure-vnet-cni-windows-amd64-v1.0.16.zip"
			}

[2019-01-16 14:34] carlsoncoder commented on #287
@ashvindeodhar So far so good.  Have had a cluster running with a few reboots and so far haven't seen any failures!

[2019-01-16 23:46] ashvindeodhar commented on #272
@ai2admin this is fixed in the latest CNI release : https://github.com/Azure/azure-container-networking/releases/tag/v1.0.16

[2019-01-16 23:46] #272 closed

[2019-01-16 23:58] ashvindeodhar commented on #260
@MarcPow Does this happen specifically after reboot or do you see this as a general issue?
We have resolved the issue seen after reboot in CNI latest release https://github.com/Azure/azure-container-networking/releases/tag/v1.0.16

[2019-01-18 18:42] ashvindeodhar commented on #287
@carlsoncoder closing this issue as you have confirmed you don't see this issue anymore. Please reopen if needed.

[2019-01-18 18:42] #287 closed

[2019-01-21 12:28] cmendible opened #291 "Should the azure-npm work with AKS & Advanced Networking?"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**Which release version?**:

---

**Which component (CNI/IPAM/CNM/CNS)**:
CNI / azure-npm
---

**Which Operating System (Linux/Windows)**:
Linux
---

**For Linux: Include Distro and kernel version using "uname -a"**

---

**For windows: provide output of "$(Get-ItemProperty -Path "C:\windows\sy

[2019-01-22 05:57] RahulMetangale commented on #280
@tamilmani1989 can you please let me know on which linux OS and version this driver is texted. I can try using the same OS.

[2019-01-22 16:29] bclau opened #292 "Kubernetes: Windows nodes may break under heavy load"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**Which release version?**: v1.0.16

---

**Which component (CNI/IPAM/CNM/CNS)**: CNI

---

**Which Operating System (Linux/Windows)**: Windows

---

**For Linux: Include Distro and kernel version using "uname -a"**

---

**For windows: provide output of "$(Get-ItemProperty -Path "C:\window

[2019-01-22 17:04] PatrickLang commented on #292
cc @dineshgovindasamy @daschott

[2019-01-22 18:03] sharmasushant commented on #292
@ashvindeodhar  seems like state is messed up:
[net] Failed to restore state, err:invalid character '\x00' looking for beginning of value

@bclau Can you share the azure-vnet.json file from the node you are seeing the error?

[2019-01-23 08:16] limpair commented on #128
@tamilmani1989 I also encountered this problem using the latest cni

[2019-01-23 18:17] saiyan86 commented on #291
@cmendible Thanks for the feedback! I will take a look.

[2019-01-23 23:49] bclau commented on #292
@sharmasushant huh. This is quite interesting. The node managed to recover and I could fetch the logs / files. Looked into the `azure-vnet.json` file you mentioned. This is what's there: [1]. No kidding. 28KB of whitespace. The other node had a proper JSON, and did not have any \x00 errors in it.

[1] https://paste.ubuntu.com/p/vw9gJsz8ct/

[2019-01-25 18:35] ashvindeodhar commented on #289
@PatrickLang Please pick up the latest release that fixes this issue:  https://github.com/Azure/azure-container-networking/releases/tag/v1.0.17-rc1

[2019-01-25 18:41] ashvindeodhar commented on #292
@bclau  can you please pick up the latest release that addressed lock store timing out issue: https://github.com/Azure/azure-container-networking/releases/tag/v1.0.17-rc1 . This also addresses the subsequent "unexpected end of JSON input". I don't see these errors anymore. I was never able to repro '\x00' issue.

[2019-01-25 18:42] ashvindeodhar commented on #186
Fixed this as a part of https://github.com/Azure/azure-container-networking/releases/tag/v1.0.17-rc1

[2019-01-25 18:42] #186 closed

[2019-01-30 21:45] ashvindeodhar commented on #292
@bclau did you get a chance to try v1.0.17-rc1? That one fixed similar issue seen while spawning multiple pods (#289 )

[2019-01-31 12:13] xelor81 commented on #264
OK I got this thing to work. Instead of using kubelet withing container I used it as binary on CoreOS.
Doing this I am able to spawn pods with VNET IP range. Pod can communicate with all hosts in the VNET but cannot access internet which is weird as docker host (coreOS) is able to access internet.

[2019-01-31 19:02] ashvindeodhar commented on #289
Released https://github.com/Azure/azure-container-networking/releases/tag/v1.0.17. Closing this issue.

[2019-01-31 19:02] #289 closed

[2019-01-31 19:02] ashvindeodhar commented on #292
Released https://github.com/Azure/azure-container-networking/releases/tag/v1.0.17. Closing this issue.

[2019-01-31 19:02] #292 closed

[2019-02-05 22:59] saiyan86 commented on #288
@mikeroyal This is under consideration. But unfortunately we don't have cycles to look into this right now. Will look into this later. Closing this for now.

[2019-02-05 22:59] #288 closed

[2019-02-13 21:45] tamilmani1989 commented on #128
looks like there is no issue with connectivity to external networks, Closing this issue.
@limpair Open a new issue and give us more details about what's failing for you and why do you need an interface?

[2019-02-13 21:45] #128 closed

[2019-02-13 21:47] #264 closed

[2019-02-13 21:51] tamilmani1989 commented on #280
@RahulMetangale we are not supporting CNM currently. Why don't you try CNI?

[2019-02-14 00:17] saiyan86 commented on #291
Hi @cmendible , could you please share the policy yaml you are applying? Everything in my cluster works fine.

[2019-02-14 08:53] cmendible commented on #291
Hi @saiyan86 I was using the policy explained here to deny all traffic:

https://github.com/ahmetb/kubernetes-network-policy-recipes/blob/master/01-deny-all-traffic-to-an-application.md

[2019-02-14 10:26] RahulMetangale commented on #280
@tamilmani1989 I am not using Kubernetes or DC/OS hence i can not use CNI. Most recent release v1.0.17 also has CNM drivers, but it is not supported?

[2019-02-15 19:27] tamilmani1989 commented on #280
You don't need kuberentes/DCOS setup to run CNI. Please look at [scripts/docker-run.sh.](https://github.com/Azure/azure-container-networking/blob/master/scripts/docker-run.sh)

place azure-vnet and azure-vnet-ipam under /opt/cni/bin

`docker-run.sh <container-name> <namespace> <image>`

Give namespace as **default**.

Even I can repro the issue in CNM. Right now we don't have any timeline for that

[2019-02-19 17:20] bclau opened #299 "Windows Container does not have any network connectivity when it starts"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**Which release version?**: v1.0.17

---

**Which component (CNI/IPAM/CNM/CNS)**: CNI

---

**Which Operating System (Linux/Windows)**: Windows

---

**For Linux: Include Distro and kernel version using "uname -a"**

---

**For windows: provide output of "$(Get-ItemProperty -Path "C:\window

[2019-02-19 17:24] bclau commented on #299
/cc @PatrickLang

[2019-02-19 22:48] tamilmani1989 commented on #280
@RahulMetangale  does that work for you?

[2019-02-20 12:44] RahulMetangale commented on #280
@tamilmani1989 Thank you it worked!. i have posted the detailed steps to use CNI network  of this driver with docker on [my blog](https://medium.com/@rahul.metangale/connecting-docker-container-to-azure-virtual-network-ff8a19913574)
If documentation contribution is allowed i will be happy to send a PR.

[2019-02-21 21:59] MarcPow commented on #260
Thanks, I'll re-test.

[2019-02-22 12:45] mgrabarz opened #301 "NPM ingress rule blocks egress of pod"
**Is this a request for help?**:

NO

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

**Which release version?**:

containernetworking/azure-npm:v1.0.13

**Which component (CNI/IPAM/CNM/CNS)**:

NPM

**Which Operating System (Linux/Windows)**:

Linux

**For Linux: Include Distro and kernel version using "uname -a"**

standard AKS-Engine stack, affected pod runs: 16.04.1-Ubuntu SMP

[2019-02-25 23:19] saiyan86 commented on #301
@mgrabarz Thanks for submitting the issue! I'm investigating this.

[2019-02-26 09:10] mgrabarz commented on #301
I just reviewed other issues and PRs. Is it somehow related to [this?](https://github.com/Azure/azure-container-networking/pull/269)

[2019-02-26 12:28] zhiweiv commented on #299
I reported this issue before at https://github.com/Azure/aks-engine/issues/189, per https://github.com/Azure/aks-engine/issues/414, it is a bug Windows?

[2019-02-26 12:40] bclau commented on #299
From my experience, this is an issue with azure-vnet-cni itself. I have tried this on separate deployments using flannel overlay or l2bridge instead of azure-vnet-cni and this issue was significantly smaller.

[2019-02-28 10:48] zhiweiv opened #306 "Failed to start IPAM plugin, err:invalid character '\\x00' looking for beginning of value."
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**Which release version?**:
1.0.17-rc1
---

**Which component (CNI/IPAM/CNM/CNS)**:
CNI
---

**Which Operating System (Linux/Windows)**:
Windows
---

**For windows: provide output of "$(Get-ItemProperty -Path "C:\windows\system32\hal.dll").VersionInfo.FileVersion"**
10.0.17763.194 (WinBuild.160101.0800)
---

**Which Orchestrator and

[2019-02-28 18:21] ashvindeodhar commented on #306
@zhiweiv can you please provide the repro steps? We have tried but could never repro this.

[2019-02-28 18:52] ashvindeodhar commented on #299
@bclau I have verified that v1.0.18-rc1 helps with the connectivity. Please let me know.

[2019-03-01 02:19] zhiweiv commented on #306
@ashvindeodhar
It is the first time this issue occurred in our environment, it just happend suddenly.  I can see the OS reooted at 2/28/2019, 7:08:05 AM in azure-vnet-ipam.log I provided.

[2019-03-01 03:21] zhiweiv commented on #306
I checked kubelet.log, `Cleaning up old HNS network found` was not shown in it. Shall we delete relative files whether the network exists or not in https://github.com/Azure/aks-engine/blob/master/parts/k8s/windowskubeletfunc.ps1?
[kubelet.log](https://github.com/Azure/azure-container-networking/files/2917798/kubelet.log)

[2019-03-01 19:00] saiyan86 commented on #301
I think it is related. #307 should address this among a bunch of new changes.

[2019-03-01 19:07] saiyan86 commented on #291
@cmendible
#307 should address this among a bunch of new changes.

[2019-03-01 23:35] saiyan86 commented on #118
Closing stale issue

[2019-03-01 23:35] #118 closed

[2019-03-01 23:36] saiyan86 commented on #145
Closing stale issue.

[2019-03-01 23:36] #145 closed

[2019-03-01 23:52] #291 closed

[2019-03-01 23:53] #301 closed

[2019-03-05 23:18] ashvindeodhar commented on #299
@bclau can you comment if this issue is still there with latest release?

[2019-03-14 18:20] zachomedia opened #313 "Issues with network policies after cluster reboot"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**Which release version?**: v1.0.18

---

**Which component (CNI/IPAM/CNM/CNS)**: NPM

---

**Which Operating System (Linux/Windows)**: Linux

---

**For Linux: Include Distro and kernel version using "uname -a"**

aks-engine, Ubuntu 16.04 image

`Linux k8s-master-64980839-0 4.15.0-1040-az

[2019-03-14 20:52] zachomedia commented on #313
I ended up testing with two different fixes:

1. Add an ability to specify the "base" rule so that it gets added to the bottom of iptables
2. Fix two cases where it had the wrong flag (`dst` instead of `src`) (#269 + another place)

Here's my diff that appears to work (I'm not creating a PR at this point because I don't know how you want to proceed):

[code]

[2019-03-16 20:45] saiyan86 commented on #313
@zachomedia Thanks a lot for the contribution! Could you please explain what counts as a "base" rule?

[2019-03-16 20:48] zachomedia commented on #313
@saiyan86 I think it probably needs a better name, but I was using it to define the "default-deny" rule so that it would always be at the bottom of the iptables rules (ie. added by append instead of insert).

I think there is still an ordering issue even with the fix since the last time I rebooted my cluster there was one rule that didn't work until I deleted it and added it back up.

[2019-03-18 06:44] saiyan86 commented on #313
@zachomedia Actually I think this is a valid issue for kubernetes. If possible, I'd like to propose an upstream fix so that all clients listening for network policies can get them in a correct order.

[2019-03-19 15:11] saiyan86 commented on #78
Closing stale issue. Can revisit later if anything changes.

[2019-03-19 15:11] #78 closed

[2019-03-19 15:11] saiyan86 commented on #79
Closing stale issue. Can revisit later if anything changes.

[2019-03-19 15:11] #79 closed

[2019-03-19 15:11] saiyan86 commented on #134
Closing stale issue. Can revisit later if anything changes.

[2019-03-19 15:11] #134 closed

[2019-03-19 15:15] saiyan86 commented on #136
Closing stale issue. Can revisit later if anything changes.

[2019-03-19 15:15] #136 closed

[2019-03-19 15:16] saiyan86 commented on #170
CircleCI is added and we'll have Azure Pipeline soon. Closing this.

[2019-03-19 15:16] #170 closed

[2019-03-19 21:26] saiyan86 commented on #252
Fixed in #315

[2019-03-19 21:26] #252 closed

[2019-03-20 21:54] mgrabarz commented on #313
My assumption was this is the only ordering we can expect from policies in contrast to e.g. Calico where you have dedicated property in CRD.
What is then proper approach to ordering and how can I ensure order will be applied properly after reboot or upgrade?

[2019-03-20 23:23] saiyan86 commented on #313
I'm thinking about a recovery mechanism for such events. Will update on this soon.

[2019-03-27 18:11] saiyan86 commented on #313
@zachomedia @mgrabarz #320 should fix this. I have pre-released the image containing the fix under label _containernetworking/azure-npm:v1.0.19-rc1_. Could you please give it a try and leave some feedback? Thanks!

[2019-03-27 18:11] #313 closed

[2019-03-27 23:36] davidmatson opened #321 "err:timed out locking store and unexpected end of JSON input on v1.0.17"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
---
ISSUE

**Which release version?**:
---
1.0.17

**Which component (CNI/IPAM/CNM/CNS)**:
---
CNI?

**Which Operating System (Linux/Windows)**:
---
Windows

**For windows: provide output of "$(Get-ItemProperty -Path "C:\windows\system32\hal.dll").VersionInfo.FileVersion"**
---
10.0.17763.194 (WinBuild.160101.0800)

**Which Orchestrator and ve

[2019-03-27 23:41] davidmatson opened #322 "Broken CNI state leaves node marked ready but unusable"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
---
FEATURE REQUEST

**Which release version?**:
---
1.0.17

**Which component (CNI/IPAM/CNM/CNS)**:
---
CNI?

**Which Operating System (Linux/Windows)**:
---
Windows

**For windows: provide output of "$(Get-ItemProperty -Path "C:\windows\system32\hal.dll").VersionInfo.FileVersion"**
---
10.0.17763.194 (WinBuild.160101.0800)

**Which Orchestra

[2019-03-28 00:25] ashvindeodhar commented on #321
aks-engine v0.31.2 and azure cni v1.0.18 have couple of fixes for the locking store. Can you pls check if you see this error with those?

[2019-03-28 00:27] ashvindeodhar commented on #322
This may happen if the lock file is leaked from cni. There were fixes in aks-engine v0.31.2 and azure cni v1.0.18 to address that. Can you please check if the issue is reproduced with those?

[2019-03-28 00:27] davidmatson commented on #321
Thanks! Sure, I'll give that a try (probably some time next week).

[2019-03-28 00:28] davidmatson commented on #322
This bug is specifically about the idea that if for any reason CNI stops working on a node, the node isn't marked Not Ready, so new pods still try to run on it. We've seen this behavior with multiple bugs (the lock file is just one specific example).

[2019-03-28 04:49] zachomedia commented on #313
Hello @saiyan86,

I tried the 1.0.19-rc1 version in a test cluster, and I'm still seeing some issues with the order post-reboot. I've attached the [azure-npm.log](https://github.com/Azure/azure-container-networking/files/3016213/azure-npm.log) file, and the [iptables.conf](https://github.com/Azure/azure-container-networking/files/3016204/pre-reboot.txt) file from before reboot (when everything wor

[2019-03-28 19:56] saiyan86 commented on #313
@zachomedia Thanks for trying it out. This is a first step mitigation. I will handle the horizontal scaling(new node) scenario in later releases. However, that fix will force users to apply policies without considering ordering. Current implementation supports ordering, but the future fix will consider policies as additive.

[2019-04-08 05:25] paulgmiller opened #327 "Encyption in azure-cni?"
**Is this a request for help?**:
Kind of?

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

---

**Which release version?**:
lateset

---

**Which component (CNI/IPAM/CNM/CNS)**:
CNI?

---

**Which Operating System (Linux/Windows)**:
Linux

---

**For Linux: Include Distro and kernel version using "uname -a"**
Ubuntu 16

---

So we're pretty new to cni plugins but we we

[2019-04-09 18:43] ninzavivek commented on #280
We are investigating the issue.

[2019-04-10 14:53] ashvindeodhar commented on #322
@davidmatson are you seeing this issue with v1.0.18?

[2019-04-10 14:54] ashvindeodhar commented on #299
Closing the issue as it's resolved with v1.0.18

[2019-04-10 14:54] #299 closed

[2019-04-10 14:55] ashvindeodhar commented on #321
@davidmatson did you try v1.0.18?

[2019-04-10 14:56] ashvindeodhar commented on #306
@zhiweiv is this issue reproducible with 1.0.18?

[2019-04-10 15:17] zhiweiv commented on #306
Not reproduced with 1.0.18 yet.

[2019-04-11 11:12] zhiweiv commented on #306
I plan to upgrade to latest AKS-Engine release this week, close this. I will open another issue if error occurs again.

[2019-04-11 11:12] #306 closed

[2019-04-12 01:11] davidmatson commented on #321
I just tried 1.0.18, and I'm seeing the same problem.
[code]

[2019-04-12 01:12] davidmatson commented on #322
This issue isn't specific to v1.0.18, but yes I am still seeing problems there. This issue is about the fact that multiple different CNI bugs can cause the node to stop working, but when that happens, the node isn't reported as Not Ready so that cluster autoscaler can remove it.

[2019-04-13 05:16] ivasilyev-servicetitan-com opened #333 "Can't make Azure CNI working on Azure VMs. Failed to allocate address: No available addresses"
**Is this a request for help?**:
Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
It's a request for help

---

**Which release version?**:
 v1.0.11

---

**Which component (CNI/IPAM/CNM/CNS)**:
CNI or IPAM, not sure

---

**Which Operating System (Linux/Windows)**:
Ubuntu 16.04.6 LTS

---

**For Linux: Include Distro and kernel version using "uname -a"**
Linux ub16 4.15.0-1041-azu

[2019-04-15 03:02] qianwens opened #334 "Does Azure CNI have network bandwidth support?"
**Is this a request for help?**:

---yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

---feature request

**Which release version?**:

---

**Which component (CNI/IPAM/CNM/CNS)**:

---cni

**Which Operating System (Linux/Windows)**:

---Linux

**For Linux: Include Distro and kernel version using "uname -a"**

---

**For windows: provide output of "$(Get-ItemProperty -Path "C:\windows\s

[2019-04-15 19:22] thedancingfetus opened #335 "Pod Sandbox Changed on Windows Agents"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**Which release version?**:
v1.0.18
---

**Which component (CNI/IPAM/CNM/CNS)**:
CNI
---

**Which Operating System (Linux/Windows)**:
Windows
---

**For Linux: Include Distro and kernel version using "uname -a"**
N/A
---

**For windows: provide output of "$(Get-ItemProperty -Path "C:\windows

[2019-04-18 00:20] jjeyaraj opened #339 "NetworkPlugin cni failed to set up pod issues"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of aks-engine?**:
Version: v0.34.1
GitCommit: e68d84850
GitTreeState: clean
---

**Kubernetes version**:
1.14.1

**What happened**:
we are constantly having issues with our windows pods going down and not being able to restart.

When deployed the pods are healthy and running,

[2019-04-18 02:52] zhiweiv commented on #339
#306 reproduced again today /w AKS-Engine 0.34.0 & Azure CNI 1.0.18, as described before,
in C:\K azure-vnet-ipam.json is 3KB with only whitespace in it, azure-vnet.json is missing, there is a lock file azure-vnet.json.lock.

[code]

I can see this in azure-vnet.log
[code]

[2019-04-18 03:13] zhiweiv commented on #339
@jjeyaraj
You can try this workaround to repair Windows nodes.

ssh to Windows node

Stop-Service Kubelet -Force
<del azure-vnet.json file, if exist>
<del azure-vnet.json.lock, if exist>
<del azure-vnet-ipam.json file, if exist>
<del azure-vnet-ipam.json.lock file, if exist>
Start-Service kubelet

[2019-04-20 00:38] jjeyaraj commented on #339
I am using the latest version v1.0.20 and still dealing with issue.

The pods are having the "6c7-5sgp9": NetworkPlugin cni failed to set up pod "rpsapi-5d8fcd96c7-5sgp9_default" network: unexpected end of JSON input" error and nodes are flipping due to:
PLEG not ready

Our live traffic is being affected by this with end users experiencing outages, is there a fix for this?

[2019-04-22 08:52] kesor opened #340 "IPtables filtering drops packets when `sysctl net.bridge.bridge-nf-call-iptables=1`"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

---

**Which release version?**:
v1.0.19

---

**Which component (CNI/IPAM/CNM/CNS)**:
CNI

---

**Which Operating System (Linux/Windows)**:
Linux
---

**For Linux: Include Distro and kernel version using "uname -a"**
Linux k8snode3 5.0.0 #1 SMP Mon Mar 4 06:05:49 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

---

**Which Orchestrator and ve

[2019-04-22 16:40] ashvindeodhar commented on #235
Can you please try with the latest release v1.0.20? We have merged this https://github.com/Azure/azure-container-networking/pull/332 fix.

[2019-04-22 16:43] ashvindeodhar commented on #321
@davidmatson  can you please provide repro steps?

[2019-04-22 16:56] davidmatson commented on #321
It's not a deterministic repro - we deploy an AKS Engine cluster, add some workload, wait awhile and then this situation eventually hits. Is there more data I could provide here that would be helpful?

[2019-04-22 16:57] davidmatson commented on #321
We do have pods with Horizonal Pod Auto Scale enabled, and we have Cluster Autoscaler also enabled, which likely mitigates this problem (though it may also be related to the root cause; I'm not sure). I may have CNI logs last time this problem occurred and can share if that would help, though I think the bits above were the only interesting parts.

[2019-04-22 17:03] ashvindeodhar commented on #321
If you have complete logs that will help me understand if the lock timeout is seen due to
1. Multiple pods are spawned simultaneously OR
2. lock file is leaked on the VM

[2019-04-23 22:23] davidmatson opened #341 "Windows Container does not have any network connectivity when it starts"
#299 and Azure/aks-engine#189 are still occurring on v1.0.18.

[2019-04-23 22:36] davidmatson commented on #341
Actually, I'm seeing this issue significantly more often on v1.0.18 than I was on v1.0.17.

[2019-04-24 18:21] ai2admin commented on #321
I have the same problem with CNI

[2019-04-25 14:09] cpressland opened #344 "Service Network not working with Azure CNI"
**Is this a request for help?**:

Yes

---
**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

---

**Which release version?**:

v1.0.20

---

**Which component (CNI/IPAM/CNM/CNS)**:

CNI

---

**Which Operating System (Linux/Windows)**:

Linux

---

**For Linux: Include Distro and kernel version using "uname -a"**

[code]

---

**Which Orchestrator and version (e.g. Kubernetes, Docker)

[2019-04-27 10:17] cpressland commented on #118
Could we reopen this? In my investigation of implementing Azure-CNI into our own cluster  #344 we've run into the same issue. I worked-around it with this:

[code]

While the above works, it still feels like a hack.

[2019-04-28 08:24] guhuajun commented on #333
You should pre-allocate ip address to your node nic, like:
[code]

[2019-04-29 17:53] saiyan86 commented on #118
@tamilmani1989 @cpressland would #345 fix this?

[2019-04-29 18:49] cpressland commented on #118
Turned out it was actually much easier to solve than the above. The Kubelet has an option specifically for this and we've set it as follows in the Kubelet config YAML: `resolvConf: "/run/systemd/resolve/resolv.conf"`

[2019-04-29 18:52] tamilmani1989 commented on #118
@cpressland #345 should fix this.

[2019-05-02 16:58] guddutopper commented on #280
I have follow up on this issue, i am able to assigned IP address to the containers from the azure Vnet as the steps given in the [blog](https://medium.com/@rahul.metangale/connecting-docker-container-to-azure-virtual-network-ff8a19913574)

But I am not able to communicate between the containers, for examples I assigned IP addresses to two container from the same subnet of a vnet but they are not a

[2019-05-03 05:50] guddutopper opened #352 "Unable to communicate between the docker containers from the same subnet after using CNI to assing IPs from azure vnet"
**Is this a request for help?**:

YES

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

**Which release version?**:

1.0.17

**Which component (CNI/IPAM/CNM/CNS)**:

CNI

**Which Operating System (Linux/Windows)**:

Linux

**For Linux: Include Distro and kernel version using "uname -a"**

Linux AZLXSPTFBTDEVAP04 4.15.0-1041-azure #45-Ubuntu SMP Fri Mar 15 14:41:00 UTC 2019 x86_64 x86

[2019-05-03 23:25] saiyan86 commented on #344
@cpressland Please try again with [Azure CNI v1.0.22](https://github.com/Azure/azure-container-networking/releases/tag/v1.0.22). This version supports Ubuntu 18+.

[2019-05-04 23:26] cpressland commented on #344
@saiyan86 can we reopen this? After deploying version 1.0.22 onto a node the network stack appears to be broken. External VNet communication appears to be offline and as such the node can no longer communicate with `169.254.169.254`. The Kubelet can no longer start as it needs to talk to this IP to get the Node IP Address. Worth noting that node-to-node and pod-to-pod traffic is fine.

Rebooting t

[2019-05-04 23:58] cpressland commented on #344
Destroyed my `master-0` and `worker-0` nodes and bootstrapped again. Here is the error I get from CoreDNS:

[code]

From the host this works fine:
[code]

ifconfig output on the host:
[code]

Output of `iptables -L`
[code]

Output of `iptables -t nat -L`
[code]

And again, after a reboot of this node I get the VM go into a very long timeout that takes a long time to clear, this is from the Serial

[2019-05-05 03:38] zhiweiv opened #354 "Add pid to log"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

---

**Which release version?**:
1.0.18

---

**Which component (CNI/IPAM/CNM/CNS)**:
CNI

---

**Which Operating System (Linux/Windows)**:
Windows

---

**Which Orchestrator and version (e.g. Kubernetes, Docker)**
Kubernetes

---

**What happened**:
Each cni request starts a new process, but they share same log file. When mul

[2019-05-07 22:04] sharmasushant commented on #352
1. Can you reach other resources within the Vnet from these containers? e.g., have you tried reaching another VM deployed in same Vnet.

2. Can you reach Internet from these conatiners. Try wget google.com to see if you can rach internet.

3. I would also check if a firewall is blocking the communication.

[2019-05-07 22:09] sharmasushant commented on #334
We do not support restricting bandwidth for individual containers via Azure CNI today.

[2019-05-07 22:09] #334 closed

[2019-05-07 22:25] tamilmani1989 commented on #340
@kesor - we can't disable this setting. May be your setup has some iptable filter rules that drops the traffic from bridge. We have this setting enabled and its working e2e in our setup.

[2019-05-08 05:25] guddutopper commented on #352
when i deploy these containers using the cni plugin, they don't have a network in common, in the script od 'docker-run.sh', the container by default join 'none' network, is that the reason they are not able to communicate with each other because docker is managing these container not azure.

[2019-05-08 05:36] guddutopper commented on #352
and i am still confused whether i should CNI or CNM ?

[2019-05-08 15:02] nodeselector opened #355 "Request: add settings to choose level of log verbosity"
**Is this a request for help?**:

No.
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Feature request
---

**Which release version?**:

Not applicable
---

**Which component (CNI/IPAM/CNM/CNS)**:

CNI
---

The request is to provide a flag or environment variable to reduce or turn logging off completely. Is this possible?
---

**Which Orchestrator and version (e.g. Kubernetes, Docker)*

[2019-05-09 05:33] RHaest opened #356 "No address returned error on existing containers with pre-allocated ip's available (CNM plugin)"
**Is this a request for help?**:
Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue

**Which release version?**:
CNM Plugin 1.0.22 (azure-vnet-cnm-windows-amd64-v1.0.22.zip)

**Which component (CNI/IPAM/CNM/CNS)**:
CNM (or IPAM?)

**Which Operating System (Linux/Windows)**:
Windows Server 2016

**For windows: provide output of "$(Get-ItemProperty -Path "C:\windows\system32\hal.dll")

[2019-05-09 06:09] guddutopper commented on #92
@kingliantop hi, were you able to assign IPs to your docker containers, I am facing the same issue but I have created secondary IP address on the interface so this should not happen

[2019-05-09 06:23] guddutopper commented on #356
@RHaest Hi, could you help me out as how you were able to get IP address to your docker container, I am getting stuck after creating the network itself, I am assuming you followed this link to deploy your contaienrs [cnm](https://github.com/Azure/azure-container-networking/blob/master/docs/cnm.md),
I have created secondary IPs alreeady in my network interface but unable to assign IP to container

[2019-05-09 06:29] RHaest commented on #356
@guddutopper,  with this statement: docker network connect --ip 10.0.50.100 myAzureNet myContainer. So the 10.0.50.100 is the secondary IP on my azure nic and myAzureNet is my docker network (which I indeed created following the instructions in the link you posted).

[2019-05-09 06:30] guddutopper commented on #356
ok let me try doing that and see what happens

[2019-05-09 06:34] guddutopper commented on #356
btw are you able to join you container with default bridge network in docker along side the network created using azure-vnet driver ? does it create any issue ?

[2019-05-09 06:38] RHaest commented on #356
Hi guddutopper, I do not use the bridge network, sorry I forgot to mention that. I first do "docker network prune -f", then I recreate the azure-vnet network (and nat is automatically created). So after that I only have these 3 networks:

PS C:\Windows\system32> docker network ls
NETWORK ID          NAME                DRIVER              SCOPE
e30742b881f0        myAzureNet          azure-vnet

[2019-05-09 06:41] guddutopper commented on #356
so you are creating your container first so by default it joins the bridge network or you are specifying "--net=none" flag while creating your container ?

[2019-05-09 06:43] RHaest commented on #356
No, container is created with environment variables "--network=myAzureNet","--ip $ip". So by default a new container is directly joined to the azure-vnet network and is afterwards connected to the nat network.

[2019-05-09 07:42] guddutopper commented on #356
I did a fresh install of the plugin on a newly created azure vm, i was able to create a network using command `sudo docker network create --driver=azure-vnet --ipam-driver=azure-vnet --subnet=10.10.3.0/24 azurenet`
after this i created a secondary IP configuration in my network interface `10.10.3.70`
now I tried to create my docker container as `sudo docker run -d  --name alpine1 --net=azurenet --

[2019-05-09 07:48] RHaest commented on #356
I am not sure, you are using Linux as host, I use windows server. I assume you have to specify a gateway in your network creation.

[2019-05-09 07:56] guddutopper commented on #356
if I try to give gateway, I face this error
`platformdev1@AZLXSPTFBTDEVAP04:~$ sudo docker network create --driver=azure-vnet --ipam-driver=azure-vnet --subnet=10.10.3.0/24 --gateway=10.10.3.1 azurenet
Error response from daemon: failed to allocate gateway (10.10.3.1): No address returned`

[2019-05-09 08:05] RHaest commented on #356
I am sorry, I am not familiar with docker on Linux. On my environment (Windows Server 2016) the scenario works.

[2019-05-10 13:05] zhiweiv opened #358 "azure-vnet.exe hang frequently"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

---

**Which release version?**:
1.0.18

---

**Which component (CNI/IPAM/CNM/CNS)**:
CNI

---

**Which Operating System (Linux/Windows)**:
Windows
10.0.17763.194 (WinBuild.160101.0800)

---

**Which Orchestrator and version (e.g. Kubernetes, Docker)**
AKS-Engine with Kubernetes

---

**What happened**:
azure-vnet.exe hang every few day

[2019-05-10 13:29] zhiweiv opened #359 "Http request to all pods in one Windows node timeout intermittently"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

---

**Which release version?**:
1.0.18

---

**Which component (CNI/IPAM/CNM/CNS)**:
CNI

---

**Which Operating System (Linux/Windows)**:
Windows
10.0.17763.194 (WinBuild.160101.0800)

---

**Which Orchestrator and version (e.g. Kubernetes, Docker)**
AKS-Engine with Kubernetes

---

**What happened**:
Every few hours, all pods in a Wi

[2019-05-10 18:21] sharmasushant commented on #359
If ping works, then network connectivity/data path should be good. Do you have any firewall rules on the VM that might be blocking port 80? Any logic in the healthz app to block requests from a certain IP/port?

[2019-05-10 18:38] sharmasushant commented on #354
Yes, please feel free to submit the PR. option (b) looks good.

[2019-05-11 04:38] zhiweiv commented on #358
Not sure if it is similiar issue with https://github.com/kubernetes/kubernetes/issues/76666, but KB4486553 is not on my VM.
[code]

[2019-05-11 05:29] zhiweiv commented on #358
I observed pods hang at terminating state again,
Docker logs
[code]

Kubelet logs
[code]

[2019-05-11 15:15] zhiweiv commented on #359
It is just a simple k8s cluster built by AKS-Egnine, there should not be firewall rules and policies, and it occurs intermittently not always, so it should not be caused by firewall.
The healthz is a http handler which does nothing just return http 200.

I plan to rebuild my cluster with a previous version of Windows, deploy a sample asp.net pod.  I joined AKS Windows private preview, I will also

[2019-05-14 10:51] zhiweiv commented on #359
@sharmasushant
Here is my latest information.
I deployed a pod with readness probe like this.
[code]
In uncertain time, it becomes unready because of readiness probe timeout. At the same time, all pods on this node become unready for same reason. When issue occurs, I can ping the pod ip successfully on the node where pod is in, but curl http://podip will timeout, however I can curl http://podip su

[2019-05-14 11:13] guddutopper commented on #356
Hi Rhaest, I have switched to windows server just to test this CNM plugin, I have installed docker on machine but when I pull any image it gives me this error - `no matching manifest for windows/amd64 10.0.14393 in the manifest list entries `
could you help me on this? did you follow any document while installing docker on windows server 2016

[2019-05-14 11:47] guddutopper opened #362 "is CNM plugin supported for Docker engine on Azure Linux VMs ?"
**Is this a request for help?**:
YES
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**Which release version?**:
1.0.22
---

**Which component (CNI/IPAM/CNM/CNS)**:
CNM
---

**Which Operating System (Linux/Windows)**:
Linux
---

**For Linux: Include Distro and kernel version using "uname -a"**
Linux AZLXSPTFBTDEVAP04 4.15.0-1041-azure #45-Ubuntu SMP Fri Mar 15 14:41:00 UTC 2

[2019-05-15 06:52] samvdb commented on #128
That iptables rules worked magic, thank you so much!

[2019-05-16 06:26] RHaest commented on #356
Hi guddutopper, I just used the default Windows server with containers image as VM image on Azure so I did not have to install docker myself. So unfortunately I am not familiar with your issue.

[2019-05-16 19:22] davidmatson commented on #321
Provided logs offline.

[2019-05-16 19:41] claudiubelu opened #363 "DNS suffix list not included in DNS global settings"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**Which release version?**: any, v1.0.20, v1.0.22

---

**Which component (CNI/IPAM/CNM/CNS)**: CNI

---

**Which Operating System (Linux/Windows)**: Windows

---

**For Linux: Include Distro and kernel version using "uname -a"**

---

**For windows: provide output of "$(Get-ItemProperty -P

[2019-05-16 19:41] bclau commented on #363
/cc @PatrickLang

[2019-05-17 01:41] davidmatson commented on #341
I thought I had a workaround, but even that isn't covering all cases. Here's what I'm doing to wait for the network / DNS to be ready:

[code]

But here's an example exception I'm still getting sometimes (from code that runs after the code above):
[code]

Is there a different service I should check before treating the network connection as up? Or some other way to check for "safe to run code in th

[2019-05-17 02:09] AlexTkatch commented on #341
My team has recently hit this issue. We ended up implementing a simple loop trying Dns.GetHostEntry for a well-known address repetitively until either it succeeds or there is a timeout. I have observed that delays occasionally cross 30 seconds!

[2019-05-17 02:12] davidmatson commented on #341
@AlexTkatch - thanks; I thought I had tried that approach and it hit issues with caching inside that API - if I queried too soon, it would never return true because it had cached a "it doesn't work" result. But maybe I'm misremembering, or it's version-specific or something like that.

[2019-05-17 02:16] AlexTkatch commented on #341
Dns.GetHostEntry throws when it cannot resolve the name, so the code is a loop with a try/catch and sleep inside it.

[2019-05-17 02:17] davidmatson commented on #341
Yeah, I thought it got "stuck" throwing, but I think I was trying an internal DNS name (maybe localhost machine name or something like that). An external DNS name might work differently.

[2019-05-21 02:17] zhiweiv opened #364 "azure-vnet.json.lock left with corresponding azure-vnet.exe missing"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

---

**Which release version?**:
1.0.18

---

**Which component (CNI/IPAM/CNM/CNS)**:
CNI

---

**Which Operating System (Linux/Windows)**:
Windows
10.0.17763.194 (WinBuild.160101.0800)

---

**Which Orchestrator and version (e.g. Kubernetes, Docker)**
k8s 1.14.1

---

**What happened**:
Sometimes I found azure-vnet.json.lock left which

[2019-05-21 11:15] bclau commented on #363
/cc @dineshgovindasamy

[2019-05-22 01:23] zhiweiv commented on #359
When issue occured, I tried to run netsh trace on the node from https://github.com/microsoft/SDN/blob/master/Kubernetes/windows/debug/startpacketcapture.cmd, the connection to the node lost immediately, it didn't response ping also, I have to restart it.

When it is in normal state, netsh trace runs without problem.

[2019-05-22 10:21] guddutopper commented on #93
@kingliantop hi, did you use the CNM plugin to create the azure-vnet network based on this link - https://github.com/Azure/azure-container-networking/blob/master/docs/cnm.md
I am also able to create network but while joining container to the above network, I am facing issues

[2019-05-28 12:48] MikkelHegn commented on #359
Hi, we have identified an issue with readiness probes exhausting ports in Windows. If you disable the readinessProbes, will this go away?

[2019-05-28 13:10] zhiweiv commented on #359
@MikkelHegn
The issue is mainly about probe timeout, if I disable the probe, I think I am unable to identity if there is problem or not.

FYI, from my latest testing, when issue occurred the Internet connection lost also on that node, for example unable to curl http://www.google.com due to timeout.

Will there be a Windows hotfix? Or there will be fix on k8s/cni? I am glad to test it if there is o

[2019-05-28 13:39] MikkelHegn commented on #359
Thanks - please see this issue as well: https://github.com/Azure/AKS/issues/1014

Let me get info to you about how to validate and when we can fix. For now best option is to disable the readiness probes and see if that stabilizes things.

[2019-05-28 13:49] zhiweiv commented on #359
OK, I will disable readiness probes temporarily and waiting you fix.

[2019-05-31 17:34] KnicKnic commented on #339
I also experienced this probelm with aks engine and kubernetes 1.13

[2019-06-04 19:22] ashvindeodhar commented on #358
This is fixed as a part of https://support.microsoft.com/en-us/help/4497934/windows-10-update-kb4497934 .  Can you please upgrade your machine with this update?

[2019-06-04 20:37] ashvindeodhar commented on #339
@KnicKnic, @jjeyaraj Can you please include C:\K\azure-vnet.log and C:\K\azure-vnet-ipam.log when this issue is seen?

[2019-06-05 04:18] zhiweiv commented on #358
Thanks for update, I will update my Windows nodes and observe if it fixes the issue.

[2019-06-06 05:14] zhiweiv commented on #358
I have applied the hotfix to my Windows nodes successfully.

[2019-06-06 05:14] #358 closed

[2019-06-06 11:44] RHaest commented on #356
Hi guddutopper, did you get any further with this? I still get the No address returned error occassionally. Thanks!

[2019-06-06 19:26] ashvindeodhar commented on #339
This is a known HNS issue and have been fixed as a part of https://support.microsoft.com/en-us/help/4497934/windows-10-update-kb4497934 .  Can you please upgrade your machine with this update?

[2019-06-06 21:28] ashvindeodhar commented on #364
Can you please share the cni log?

[2019-06-07 05:14] zhiweiv commented on #364
I forgot to upload the log, unable to find it now. This issue occurred 3~4 times in the past 6 months, not sure if it was caused by same issue in #358.

Close this temporarily, will open again once I can reproduce again.

[2019-06-07 05:14] #364 closed

[2019-06-10 14:36] t0mmyt commented on #344
This is also happening for me when I set a default route on the cluster subnet (service subnet is not accessible from pods).

[2019-06-12 20:25] ashvindeodhar commented on #341
This is not Azure CNI issue. This is kubernetes issue and here is the link to the issue opened https://github.com/kubernetes/kubernetes/issues/78947

[2019-06-12 20:27] ashvindeodhar commented on #339
@KnicKnic / @jjeyaraj  were you able to upgrade with the patch ?

[2019-06-13 01:39] ashvindeodhar opened #367 "Optimize attach endpoint for repetitive ADD calls"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Optimization
---

**Which release version?**:
v1.0.22
---

**Which component (CNI/IPAM/CNM/CNS)**:
CNI
---

**Which Operating System (Linux/Windows)**:
Windows
---

**For Linux: Include Distro and kernel version using "uname -a"**

---

**For windows: provide output of "$(Get-ItemProperty -Path "C:\window

[2019-06-13 05:33] KnicKnic commented on #339
I switched to wincni, it solved my problem, thanks.

[2019-06-26 12:07] guddutopper commented on #362
Plugin version 1.0.8 is working for me so closing this issue.

[2019-06-26 12:07] #362 closed

[2019-06-26 12:19] guddutopper opened #370 "Is it possible to create 'azure-vnet' network for secondary Network Interface on an azure VM ?"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**Which release version?**:
1.0.8
---

**Which component (CNI/IPAM/CNM/CNS)**:
CNM
---

**Which Operating System (Linux/Windows)**:
Linux
---

**For Linux: Include Distro and kernel version using "uname -a"**
Linux AZLXSPTFBTDEVAP04 4.15.0-1041-azure #45-Ubuntu SMP Tue Jun 25 14:41:00 UTC 20

[2019-06-26 12:38] guddutopper commented on #352
Instead of using the CNI plugin, I used the CNM plugin v1.0.8 and I am able to communicate between my docker container on the IPs received from the azure virtual network.

[2019-06-26 12:38] #352 closed

[2019-06-27 10:20] zhiweiv commented on #359
@MikkelHegn
Any updates?

[2019-06-28 18:59] draiche commented on #339
We were seeing the same issues, and then applied the June cumulative update (KB4503327) and it went away for a couple of weeks.. but suddenly we're seeing a huge amount of the same failures on several of our worker nodes again.

[code]

[code]

[code]

[2019-07-03 06:28] RHaest commented on #356
Bump on this issue: anyone got any updates on this issue? This is keeping our environment very unstable which is something we want to prevent!

[2019-07-05 06:15] MikkelHegn commented on #359
There's a fix for Windows scheduled to be released as part of an upcoming Windows update. We do have a private fix you can try out to help validate this will resolve the issue. Please reach out mikhegn@microsoft.com.

[2019-07-09 09:56] tiffanyguo721 opened #372 "Cluster based on Azure CNI, POD in error state when start the node, indicate error "docker_sandbox.go:375] failed to read pod IP from plugin/docker: NetworkPlugin cni failed on the status hook"."
Cluster based on Azure CNI, we found POD in error state when start the node, usually stop and start the node, POD statu can back to normal, is it an issue with Azure CNI or Kubernets?

Version:
Azure CNI: v1.0.17
Kubernetes:1.12.7
AKS engine:v0.33.4

node is started at Jul 09 03:49 (UTC), when started many pods are in error state, download the kubernete log and CNI log as below, when stop and star

[2019-07-12 01:23] zhiweiv commented on #359
The private fix works, I will leave this open until the fix is available offically.

[2019-07-15 22:03] tamilmani1989 commented on #372
@tiffanyguo721  It looks like you attached azure-vnet-ipam.log. Can you also attach azure-vnet.log?

[2019-07-16 00:06] tamilmani1989 commented on #370
right now we don't support this scenario

[2019-07-16 00:12] tamilmani1989 commented on #356
@guddutopper  We had an issue in Linux CNM and this PR #375   will fix it. Also use the following command to create network:
 sudo docker network create --driver=azure-vnet --ipam-driver=azure-vnet --subnet=10.10.3.0/24 <network_name> (do not pass gateway option)

[2019-07-16 07:23] tiffanyguo721 commented on #372
@tamilmani1989 Please kindly check the azure-vnet.log, node is started at Jul 09 03:49 (UTC),

[azure-vnet.log.txt](https://github.com/Azure/azure-container-networking/files/3395795/azure-vnet.log.txt)

Thanks

[2019-07-16 09:21] guddutopper commented on #370
Thanks for the answer, however you should update the release docs where it is mentioned that you can join a container to multiple virtual networks
[V1.0.8](https://github.com/Azure/azure-container-networking/releases/tag/v1.0.8)

[2019-07-16 19:45] tamilmani1989 commented on #370
@guddutopper  that support is only for internal customers. sorry for the confusion.

[2019-07-16 19:45] #370 closed

[2019-07-16 19:48] tamilmani1989 commented on #372
@tiffanyguo721   remove if azure-vnet.json.lock or azure-vnet-ipam.json.lock present in /var/run directory..also i recommend you to move to latest cni

[2019-07-16 19:49] tamilmani1989 commented on #340
closing this since we dint get any response back

[2019-07-16 19:49] #340 closed

[2019-07-16 19:58] tamilmani1989 commented on #344
@cpressland I looked at your iptables nat rules. It looks like a snat rule is missing for external connectivity to happen. I hope that you haven't deploy kubernetes cluster using aks or aks-engine..

Please add this rule and check for internet connectivity

iptables -t nat -A POSTROUTING  -m addrtype ! --dst-type local ! -d <vnet_address_space> -j MASQUERADE

[2019-07-17 09:47] tiffanyguo721 commented on #372
@tamilmani1989 i didn't find any azure-vnet.json.lock or azure-vnet-ipam.json.lock under /var/run directory, what might the issue according to the logs? this issue happened before IP address exausted

[2019-07-18 22:05] cpressland commented on #344
@tamilmani1989 that certainly helps with outbound communication from pods to external sources. Any suggestions on making that persistent on my cluster? And no, I'm not using aks or aks-engine - we're building a cluster from scratch as we have some unique security requirements.

Else, IPVS still doesn't appear to work at all with Azure-CNI, I've yet to track down why. iptables appears to be fine on

[2019-07-19 00:58] tamilmani1989 commented on #344
For ubuntu18 please use latest cni.

For persisting iptable rules, you have to install iptables-persistent and do iptables-save. check below link:
https://www.thomas-krenn.com/en/wiki/Saving_Iptables_Firewall_Rules_Permanently

[2019-07-19 03:25] tiffanyguo721 commented on #372
@tamilmani1989 I did some research , according to your comment, suspect it is "timed out locking store" issue, this issue repro today, I found the "azure-vnet.json.lock" file under /var/run directory, pod back to running after deleting this file.
But I found a fix mentioned regarding this issue:  https://github.com/Azure/azure-container-networking/releases/tag/v1.0.17
It mean issue been fixed in v

[2019-07-19 09:36] OneCyrus opened #376 "Azure CNI with AKS to connect to OnPremise ressources"
this is not a bug or a feature request. I'm looking for some clarification on the implementation details of Azure CNI in AKS to connect to ressources outside the AKS cluster. I'm not use if this is the right place here but couldn't find a better place to ask the question.

the information on this page are very helpfull for the overall architecture but there are two IP ranges I'm not sure how they

[2019-07-19 18:40] tamilmani1989 commented on #376
@OneCyrus Kubernetes service address range can be any ip. It can be outside of vnet space also. That works like a proxy IP (load balancer IP) and behind that pods running with actual vnet IPs. The scope of Azure CNI is to allocate only vnet IPs for pods. Service IPs are handled by Kubernetes itself.

If you want to communicate oustide the cluster(non-vnet IP), then destination IP should be either

[2019-07-19 18:44] tamilmani1989 commented on #372
can you send us entire logs. /var/run-azure-vnet*.log (like log.1,log.2..etc) all logs. This happens only if CNI crashes/panic in the middle. Wanted to see what happened there.

[2019-07-19 18:51] tamilmani1989 commented on #327
we dont have a plan to support encryption between pods in this cycle. Will consider this workitem in future.

[2019-07-19 18:51] #327 closed

[2019-07-20 11:09] ashraf345 commented on #135
i am having two different subnet i.e 172.16.1.0/24 and 172.16.2.0/24 on a single VM.
So is it possible to run 2 docker container on 2 different subnet using the CNI plugin by creating two different azure vnet.
Because while i am running azure-vnet plugin i am able to configure on one vnet on a single subnet and if i am trying for other subnet showing error that the address cannot be allocated.

[2019-07-23 21:19] yashs-dev opened #380 "Invalid character 'T' looking for beginning of value"
**Is this a request for help?**:

---
No.

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

---
ISSUE

**Which release version?**:

---
v1.0.23

**Which component (CNI/IPAM/CNM/CNS)**:

---
CNI

**Which Operating System (Linux/Windows)**:

---
Windows

**For Linux: Include Distro and kernel version using "uname -a"**

---
NA

**For windows: provide output of "$(Get-ItemProperty -Path "C:\wi

[2019-07-23 22:29] ashvindeodhar commented on #380
We have added the fix and in the process of releasing 1.0.24. I'll update when that version is available.

[2019-07-24 16:28] ashvindeodhar commented on #380
@yashs-dev can you please use the latest release - https://github.com/Azure/azure-container-networking/releases/tag/v1.0.24

[2019-07-25 20:42] #380 closed

[2019-07-25 21:46] ashvindeodhar commented on #339
@draiche what's the cni version? can you attach c:\k folder contents as zip?

[2019-07-25 22:16] goatmale commented on #179
What does CNI network monitor even do? It seems unclear from the documentation, both in github and on Dockerhub.

[2019-07-26 05:13] #354 closed

[2019-07-30 14:45] calvix opened #383 "Azure CNI connection issues with Azure Loadbalancer Standart"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

---

**Which release version?**:

k8s 1.14.1

---

**Which component (CNI/IPAM/CNM/CNS)**:

Azure CNI

---

**Which Operating System (Linux/Windows)**:

Linux

---

**For Linux: Include Distro and kernel version using "uname -a"**

CoreOS
[code]

**Which Orchestrator and version (e.g. Kubernetes, Docker)**
Kubernetes

---

**What happe

[2019-07-31 09:56] tiffanyguo721 commented on #372
@tamilmani1989

HI ,
Azure vnet logs attached, please help investigate, thanks

[Azure-vnet logs.zip](https://github.com/Azure/azure-container-networking/files/3451039/Azure-vnet.logs.zip)

[2019-07-31 18:44] tamilmani1989 commented on #383
@calvix If you haven't deployed kubernetes cluster via AKS or AKS-engine, then you have to add an iptable rule to allow internet connectivity from pod. Please check this link: [
https://github.com/Azure/azure-container-networking/blob/master/docs/cni.md#outbound-connectivity-from-pods](url)

[2019-07-31 18:48] tamilmani1989 commented on #372
@tiffanyguo721 This is fixed. We will release v1.0.25 by today.

[2019-07-31 21:57] #372 closed

[2019-07-31 23:36] #280 closed

[2019-07-31 23:37] tamilmani1989 commented on #356
We released new version with fix

[2019-07-31 23:37] #356 closed

[2019-07-31 23:41] tamilmani1989 commented on #141
fixed this in #305

[2019-07-31 23:41] #141 closed

[2019-07-31 23:45] tamilmani1989 commented on #333
Yes you have to create additional ipconfigs(secondary IPs) to allocate IP for pods

[2019-07-31 23:45] #333 closed

[2019-07-31 23:45] #344 closed

[2019-07-31 23:47] #260 closed

[2019-08-01 03:48] zhiweiv commented on #359
@MikkelHegn
Do you know if the hotfix is released or not?

[2019-08-01 09:26] calvix commented on #383
@tamilmani1989 Thanks, that seems to fix the issue. Its weird that it worked without the NAT rules for Azure LB Basic.

[2019-08-01 09:26] #383 closed

[2019-08-06 09:16] MikkelHegn commented on #359
Not released yet. I'll let you know here when it's out.

[2019-08-09 13:44] MikkelHegn commented on #359
It's scheduled for September Windows update release.

[2019-08-09 13:59] zhiweiv commented on #359
OK, thanks.

[2019-08-09 13:59] #359 closed

[2019-08-19 18:12] daschott commented on #321
@davidmatson is this issue still active on recent CNI versions?

[2019-08-19 21:22] davidmatson commented on #321
We stopped seeing this issue after upgrading to 1.0.23.

[2019-08-19 21:22] #321 closed

[2019-08-28 12:08] chowmean opened #394 "Not found 404 while install CNI with scripts/install_cni_plugin.sh"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

**Which release version?**:

Latest

**Which component (CNI/IPAM/CNM/CNS)**:

CNI

**Which Operating System (Linux/Windows)**:

LINUX
**For Linux: Include Distro and kernel version using "uname -a"**

44-Ubuntu SMP Thu Feb 21 14:24:01 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

---

**Which Orchestra

[2019-08-28 12:27] chowmean commented on #394
Download address is changed to https://github.com/containernetworking/cni/archive/v0.7.1.tar.gz

[2019-09-03 09:27] chowmean opened #396 "IPAM working properly but pod-pod networking not working."
**Is this a request for help?**:

Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

**Which release version?**:

v1.0.26

**Which component (CNI/IPAM/CNM/CNS)**:

CNI
**Which Operating System (Linux/Windows)**:

LINUX

**For Linux: Include Distro and kernel version using "uname -a"**

#44-Ubuntu SMP Thu Feb 21 14:24:01 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

While using thi

[2019-09-03 20:01] ngrigoriev commented on #339
I think I have captured the issue. Still do not know how to reproduce it, but I may have the logs.

At some point the plug-in enters a particular state and never recovers until restarted (node reboot in my case):

[code]

This seems to be preceded by a number of messaged referring to "degraded object":

[code]

[2019-09-03 23:33] tamilmani1989 commented on #396
Hi @chowmean  I have a question - Does pod to internet connectivity work?

Can you send me following files from affected VM?

1. /var/log/azure-vnet*. All log files starts with azure-vnet under /var/log/.
2. /var/run/azure-vnet.json
3. /var/run/azure-vnet-ipam.json

[2019-09-04 05:32] chowmean commented on #396
1. No pod-internet connectivity doesn't work.
2. There are no logs in `/var/log/azure`. There is no folder with name `azure-vnet*` only `azure` is present and there are no files inside it.
3. Content of the IPAM and VNET json are below.
azure-vnet.json

        {
                "Network": {
                        "Version": "v1.0.26",
                        "TimeStamp": "2019-09-03T18:15:05.745

[2019-09-04 05:39] tamilmani1989 commented on #396
@chowmean Didnt you see azure-vnet.log or azure-vnet-ipam.log under /var/log? Can you do ls under /var/log directory?

[2019-09-04 06:06] chowmean commented on #396
Got it. I thought it was in azure-vnet directory. Below is the content..
[azure-vnet.log](https://github.com/Azure/azure-container-networking/files/3572930/azure-vnet.log)

[2019-09-04 06:13] tamilmani1989 commented on #396
Can you send me output of:
1. sudo sysctl net.ipv4.ip_forward
2. sudo iptables -t filter -L FORWARD

[2019-09-04 06:16] chowmean commented on #396
1. Forwarding is enabled.
`net.ipv4.ip_forward = 1`

[code]

[2019-09-04 06:22] tamilmani1989 commented on #396
ok its little confusing. Looking at .json files, i see 10.50.11.19 and 10.50.11.20 are allocated IPs but from log file i see 10.50.11.18 was only allocated IP. Are log files and json files from same VM?

[2019-09-04 06:27] chowmean commented on #396
So sorry my mistake below are the json from this VM.
azure-vnet.json

        {
                "Network": {
                        "Version": "v1.0.26",
                        "TimeStamp": "2019-09-03T18:11:41.970862226+05:30",
                        "ExternalInterfaces": {
                                "eth0": {
                                        "Name": "eth0",

[2019-09-04 06:33] tamilmani1989 commented on #396
ok no worries. Can you ping from 10.50.11.19 to 10.50.11.20? just checking if pod to pod on same VM is working or not.

[2019-09-04 06:37] chowmean commented on #396
No its not able to connect.

[2019-09-04 06:38] tamilmani1989 commented on #396
Can you try following iptable cmd and check if connectivity works?
sudo iptables -t filter -A FORWARD -j ACCEPT.

If it doesnt can i get ssh access to one of the VMs?

[2019-09-04 06:43] chowmean commented on #396
I have to run this command on VM or containers? I ran on VM got no output.
Also for the access to VM I doubt it is possible. I have to check with the authorities once.
Do you have any documentation on step by step installation and FAQs? I can try it once again in the mean time if you have any docs with you.

[2019-09-04 06:47] tamilmani1989 commented on #396
yes. have to run in VM. Can you send me output of -> sudo iptables -t filter -L FORWARD?  Isnt it work after adding that iptable cmd?

[2019-09-04 06:51] chowmean commented on #396
No it didn't work. Below is the output.
[code]

[2019-09-04 06:55] tamilmani1989 commented on #396
ok thanks. Can you do following:

1. Run tcpdump command -> tcpdump -ni azure0 -e icmp
2. start ping from pod to VM IP.
3. after 5 to 10 ping requests, stop ping and send me output of tcpdump command

[2019-09-04 07:03] chowmean commented on #396
I killed and restarted the containers. It is able to connect to pods across pods and on same hosts. Restarting the containers should not affect this.
what exactly we did here. I know very basics of iptables.

[2019-09-04 09:21] chowmean commented on #396
Seems like `iptables -t filter -A FORWARD -j ACCEPT` is making this work.

[2019-09-04 22:52] tamilmani1989 commented on #396
yes in you case, the default policy of forward chain is drop so it drop packets instead of forwarding. Forward chain has to accept traffic for azure cni to work. This can be wildcard rule and you can have all of your firewall rules on top of it.

[2019-09-04 22:52] #396 closed

[2019-09-09 13:57] ngrigoriev commented on #195
This problem is happening and seems to be quick to reproduce in our cluster.

[code]

AKS Kubernetes 1.14.5, latest Windows VM image + KB4512534 installed.

[2019-09-11 19:13] fl-max commented on #344
I'm experiencing the same thin using IPVS and Azure CNI.

**CoreDNS log:**
`
.:53
2019-09-11T18:42:20.864Z [INFO] CoreDNS-1.3.1
2019-09-11T18:42:20.865Z [INFO] linux/amd64, go1.11.4, 6b56a9c
CoreDNS-1.3.1
linux/amd64, go1.11.4, 6b56a9c
2019-09-11T18:42:20.865Z [INFO] plugin/reload: Running configuration MD5 = 00544075aef6676ea56bc6d88f2b7467
E0911 18:42:45.865301       1 reflector.go:134] github.c

[2019-09-17 10:59] ashraf345 commented on #362
Yes CNM plugin does work .
Please follow the below link to see how to do it.

https://netcrosstech.com/index.php/how-to-connect-docker-container-to-azure-vnet-using-cnm-plugin/

[2019-09-26 23:45] anujgeek opened #410 "How to use network policy"
For network policy feature, are we required to enable the network policy feature when creating the aks cluster: https://docs.microsoft.com/en-us/azure/aks/use-network-policies

I created the aks cluster using portal, and I couldn't find a way to enable network policies. I applied the plugin using: https://github.com/Azure/azure-container-networking/blob/master/docs/npm.md
[code]
But after applying

[2019-10-02 16:20] RossBarnie commented on #410
As far as I can tell you are required to have the networkPolicy and networkPlugin options set to azure, per the docs you linked to:
[code]
Or equivalent if using ARM templates

[2019-10-03 17:44] saiyan86 commented on #410
Hi @anujgeek , you have to explicitly declare ```--network-policy azure``` for AKS. @RossBarnie thanks for the reply!

[2019-10-03 17:45] saiyan86 commented on #410
Closing the issue as it is well documented on  https://docs.microsoft.com/en-us/azure/aks/use-network-policies

[2019-10-03 17:45] #410 closed

[2019-10-03 17:51] saiyan86 commented on #394
#418 fixes this.

[2019-10-03 17:51] #394 closed

[2019-10-03 17:52] #376 closed

[2019-10-09 12:11] chowmean opened #420 "Need help on Service mesh with azure CNI"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

---

**Which release version?**:
Latest
---

**Which component (CNI/IPAM/CNM/CNS)**:
All
---

**Which Operating System (Linux/Windows)**:
Linux
---

**For Linux: Include Distro and kernel version using "uname -a"**
inux jumpVM 4.15.0-1037-azure #39~16.04.1-Ubuntu SMP Tue Jan 15 17:20:47 UTC 2019 x86_6

[2019-10-09 20:42] saiyan86 commented on #420
@chowmean Can you please provide us with more information? We don't know the ask here.

[2019-10-10 08:26] chowmean commented on #420
@saiyan86 I want to know is if there is some documentation to use the azure CNI with service mesh like istio or envoy. I want to know what could be the limitations and steps.

[2019-10-10 21:08] saiyan86 commented on #420
@matmerr

[2019-10-29 10:49] finlob opened #428 "NPM does not remove succeeded pod ips from firewall ipsets"
**Is this a request for help?**:
---
Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
---
ISSUE

**Which release version?**:
---
1.0.28

**Which component (CNI/IPAM/CNM/CNS)**:
---
NPM

**Which Operating System (Linux/Windows)**:
---
Linux

**For Linux: Include Distro and kernel version using "uname -a"**
---
Linux aks-agentpool-34239724-1 4.15.0-1059-azure #64-Ubuntu SMP Fri Sep 13 17:

[2019-11-04 13:32] finlob opened #432 "Network Policy Manager merges rules incorrectly"
**Is this a request for help?**:

No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

---

**Which release version?**:

1.0.28

---

**Which component (CNI/IPAM/CNM/CNS)**:

NPM

---

**Which Operating System (Linux/Windows)**:

Linux

---

**For Linux: Include Distro and kernel version using "uname -a"**

Linux aks-agentpool-34239724-1 4.15.0-1059-azure #64-Ubuntu SMP Fri Sep

[2019-11-05 06:15] ashutoshishere04 opened #433 "How to build this"
**Is this a request for help?**:

--- help

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

--- issue

**Which release version?**:

---

**Which component (CNI/IPAM/CNM/CNS)**:

--- cni

**Which Operating System (Linux/Windows)**:

--- linux

**For Linux: Include Distro and kernel version using "uname -a"**

--- Linux azurebaseimage 4.15.0-1059-azure #64-Ubuntu SMP Fri Sep 13 17:02:44 UTC

[2019-11-06 00:12] tamilmani1989 opened #434 "[NPM] Handle telemetry connection failures"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Handle telemetry connection failures. If there is orphaned sock file, npm should clear that up and recreate it
---

**Which release version?**:

---

**Which component (CNI/IPAM/CNM/CNS)**:

---

**Which Operating System (Linux/Windows)**:

---

**For Linux: Include Distro and kernel version using "uname

[2019-11-12 13:34] ashutoshishere04 commented on #82
@sharmasushant can we increase ip addresses using mas environment, after node is already a part of cluster?

[2019-11-13 00:00] PatrickLang opened #436 "Bad result returned if endpoint attach fails because container has stopped"
**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue
**Which release version?**: 1.0.27
**Which component (CNI/IPAM/CNM/CNS)**: CNI
**Which Operating System (Linux/Windows)**: Windows Server 2019
**Which Orchestrator and version (e.g. Kubernetes, Docker)**: Kubernetes

**What happened**:

A container in a pod was stopping before the network endpoint was attached by CNI. In this case, a mal

[2019-11-14 06:40] andyzhangx opened #438 "no azure-npm logs after deployed in a k8s cluster"
**Is this a request for help?**:

No matter azure-npm is running or failing, there are no logs

[code]

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

---

**Which release version?**:

---

**Which component (CNI/IPAM/CNM/CNS)**:

---

**Which Operating System (Linux/Windows)**:

---

**For Linux: Include Distro and kernel version using "uname -a"**

---

**For windows: provide outpu

[2019-11-14 06:43] andyzhangx opened #439 "azure-npm does not support k8s alpha or beta version"
**Is this a request for help?**:
When we deploy azure npm in a k8s alpha or beta version cluster, azure-npm is always in failing state, k8s version parsing is failing, and there are even on logs showing why it's failing:
https://github.com/Azure/azure-container-networking/blob/36f188cfc9d9947f58a8399b50ec07b471b8f170/npm/util/util.go#L97-L161

failing k8s version could be like this: `1.17.0-beta.1

[2019-11-15 18:53] jaer-tsun commented on #439
https://github.com/Azure/azure-container-networking/pull/437 addresses this issue and the fix is a part of release v1.0.29

[2019-11-15 18:53] #439 closed

[2019-11-15 18:57] jaer-tsun commented on #438
the logs should exist on the agent nodes under /var/log/azure-npm.log*

[2019-11-18 19:46] jaer-tsun commented on #428
This should've addressed the issue: https://github.com/Azure/azure-container-networking/pull/435
The change is already in v1.0.29

[2019-11-19 10:54] finlob commented on #428
I've looked at the code change and suspect that there remains a smaller issue.

If you use the reproduction steps above I suspect that you will be able to see that the ip address remains in the relevant ipsets while the pod is succesful and complete but not yet deleted. During this period other pods can re-use the same ip address and be affected by network policies that were for the completed pod.

[2019-11-23 09:37] amodm opened #447 "IPVS doesn't work with Azure CNI"
**Is this a request for help?**:
Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue

---

**Which release version?**:
Latest (1.0.29)

---

**Which component (CNI/IPAM/CNM/CNS)**:
CNI

---

**Which Operating System (Linux/Windows)**:
Linux

---

**For Linux: Include Distro and kernel version using "uname -a"**
`Linux k8s-agentpool1-cen1-vmss000001 5.0.0-1023-azure #24~18.04.1-U

[2019-11-23 09:38] amodm commented on #447
Two possible ways, to my mind, of addressing this (both have been tested by me to work):
1. Have a `broute` configured on the node to modify the destination mac address for packets going out via the container interface, so that the host node has an opportunity to address the connection (via IPVS). This can be done by the command: `ebtables -t broute -A BROUTING -i <container-iface> -p IPv4 -j redi

[2019-11-23 09:39] amodm commented on #447
Possibly linked with #344

[2019-11-27 21:18] jaer-tsun commented on #438
NPM will write to stdout after this merges https://github.com/Azure/azure-container-networking/pull/449

[2019-11-29 21:40] ferantivero opened #450 "[NPM] default deny all and yet have DNS resolution"
**Is this a request for help?**:

Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

No

---
**Which release version?**:

1.27 or later

---

**Which component (CNI/IPAM/CNM/CNS)**:

NPM

---

**Which Operating System (Linux/Windows)**:

Linux

---
**For Linux: Include Distro and kernel version using "uname -a"**

---

**For windows: provide output of "$(Get-ItemProperty -Path "C:\w

[2019-12-03 22:19] jaer-tsun commented on #428
The pod is removed from ipsets on delete from v1.0.29+

![image](https://user-images.githubusercontent.com/13284103/70094575-a2b2cc00-15d7-11ea-98cd-3e062bb1453e.png)

Can you re-clarify the issue regarding complete state?

[2019-12-04 10:05] finlob commented on #428
The issue regarding complete state is that there is a state *before* the pod is deleted where they should be removed from the ipset.

To see the issue run the hello-world job but do *not* delete the pod or job.

You should see the pod go through the normal lifecycle and at the end if you look at the list of pods (kubectl get pods) you should see something like:
``
hello-world-dc5mp

[2019-12-06 04:37] jaer-tsun commented on #450
Fixed in https://github.com/Azure/azure-container-networking/pull/449

[2019-12-06 04:37] #450 closed

[2019-12-06 04:37] #438 closed

[2019-12-06 04:38] jaer-tsun commented on #434
fixed in v1.0.29

[2019-12-06 04:38] #434 closed

[2019-12-06 14:24] ferantivero commented on #450
thanks for this @jaer-tsun just wanted to mention that it looks like a breaking change for Azure Network Policy Manager, the expected behavior based on my understand though.

[2019-12-11 00:17] PatrickLang commented on #436
Here's an easy repro. kubectl create this

[code]

[2019-12-11 23:25] jaer-tsun commented on #432
fix here https://github.com/Azure/azure-container-networking/pull/456

[2019-12-11 23:40] jaer-tsun commented on #428
So we currently check if the pod IP exists before deleting. Below is the last status I see with kubectl get pods.
![image](https://user-images.githubusercontent.com/13284103/70669667-dde27a00-1c2b-11ea-8dfc-6d18d007ffab.png)

[2019-12-12 16:28] finlob commented on #428
It may seem that the IP is still allocated but it is not - the IP can be used by new pods.

This behaviour can be confirmed by running lots of separate jobs and leaving them in a completed state. e.g. I ran 500 hello-world pods and then sorted by IP

![image](https://user-images.githubusercontent.com/336727/70730034-32552a80-1cfc-11ea-9635-77a6015797d4.png)

[2019-12-16 23:49] kacurez opened #460 "AKS POD connecting outside with node src IP address"
**Is this a request for help?**:
 Yes

---
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue

---

**Which release version?**:
Latest

---

**Which component (CNI/IPAM/CNM/CNS)**:
CNI

---

**Which Operating System (Linux/Windows)**:
Linux

---

**For Linux: Include Distro and kernel version using "uname -a"**
Linux aks-agentpool-14016995-vmss000001 4.15.0-1061-azure #66-Ubuntu SMP Thu

[2019-12-17 00:56] tamilmani1989 commented on #460
@kacurez It looks like traffic is getting snatted. Can you send us output of following command.?
`sudo iptables -t nat -L POSTROUTING`

Also what is your vnet address space?

[2019-12-17 09:17] kacurez commented on #460
@tamilmani1989 vnet space address is 10.0.0.0/8 and basically there are 2 subnets, one for the aks cluster(10.243.0.0/16) and the other one for the vm-server(10.100.0.0/16)
Here is the output of `sudo iptables -t nat -L` command from one of the node instancies with IP 10.243.0.15:
<details>
<summary> sudo iptables -t nat -L </summary>

[code]
</details>

I am not sure if I read it correctly but lo

[2019-12-17 19:43] tamilmani1989 commented on #460
@kacurez I dont see ip masq agent rules in your VM. Whenever you create AKS/AKS-Engine cluster, you find ip-masq-agent pod running in all nodes.  These are kuber system daemonsets running in my cluster and you can see **azure-ip-masq-agent**. Can you check yours?

[code]

[2019-12-17 23:18] kacurez commented on #460
@tamilmani1989 there is no such azure-ip-masq-agent daemonset running in my cluster, see:

[code]

[2019-12-17 23:31] tamilmani1989 commented on #460
@kacurez You have to check with AKS team. They manage ip-masq-agent daemonset deployment. Create a ticket against this repo [https://github.com/Azure/AKS](url) . They could help you with this. Feel free to engage me if you/they need additional information

[2019-12-17 23:48] #432 closed

[2019-12-17 23:48] jaer-tsun commented on #432
that PR has merged and the changes will be in release v1.0.31

[2019-12-18 09:36] kacurez commented on #460
@tamilmani1989 thanks for tip! Looking at the AKS issues I found one mostly related to this issue:
https://github.com/Azure/AKS/issues/1207
But if I understand it correctly my problem here is missing ip-masq-agent in the cluster so you recommend to report an issue about ip-masq-agent daemonset not being deployed into aks cluster when it should be?

[2019-12-20 01:12] PatrickLang opened #464 "azure-vnet can leave lock behind if called on a loaded system"
**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

**Which release version?**: 1.0.29

**Which component (CNI/IPAM/CNM/CNS)**: CNI

**Which Operating System (Linux/Windows)**: Windows

**For windows: provide output of "$(Get-ItemProperty -Path "C:\windows\system32\hal.dll").VersionInfo.FileVersion"**

---

**Which Orchestrator and version (e.g. Kubernetes, Docker)**: Kubernetes 1.17
---

[2019-12-20 12:12] onatm opened #465 "azure-npm networking policies are not compatible with Kubernetes Network Policy"
**Is this a request for help?**: NO

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**Which release version?**: v1.0.30

---

**Which component (CNI/IPAM/CNM/CNS)**: NPM

---

**Which Operating System (Linux/Windows)**: Linux

---

**For Linux: Include Distro and kernel version using "uname -a"**

Linux aks-nodepool1-XXXXXXX-vmss000000 4.15.0-1061-azure #66-Ubuntu SMP Thu

[2019-12-20 19:23] tamilmani1989 commented on #464
@PatrickLang We fixed an issue related to lock timeout in 1.0.30(#445). This will take care of removing lockfile if the process holding that lock was exited. Check the pid printed in azure-vnet.json.lock under c:\k\ and check if the process is still running. If its running can you get processdump of that pid ?

[2019-12-20 19:25] tamilmani1989 commented on #460
@kacurez Yes it would be better if you create separate ticket and understand why ip-masq-agent was not running in your setup.

[2020-01-02 06:03] liykfrank opened #469 "Is this feature supported on Azure Stack"
**Is Azure CNI supported on Azure stack?**:

---We installed K8s cluster on Azure Stack via Azure kubernetes engine. I would like to understand if this Azure CNI is supported on Azure stack? If not, is this on your roadmap?

Thanks a million.

[2020-01-02 19:16] aanandr commented on #469
@rjaini - can you provide an update on Azure CNI in Azure Stack? I have also assigned this to you.

[2020-01-02 23:38] rjaini commented on #469
Currently Azure CNI is not supported but we have plans to support it. I don't have exact timeline for now to communicate.But we have road map to support it.
Adding @walterov as FYI.

[2020-01-03 00:19] #465 closed

[2020-01-03 05:52] liykfrank commented on #469
Thank you @rjaini @aanandr .
Since we are building  a hybrid solution.
---On Azure we setup AKS cluster with Azure CNI.
---On Azure Stack, it's quite different, we installed K8S with  Azure Kubernetes-Engine.

Due to Azure CNI is not supported for now, for network we selected kubenet.
 But the 2 way connection between POD and VM was not supported by kubenet. This will be a issue when we deploy Con

[2020-01-10 14:51] kacurez commented on #460
@tamilmani1989 so azure-ip-masq-agent was not deployed because we are deploying aks cluster with calico kubernetes network policies plugin. If we deploy aks with azure network policy(or none) and azure network plugin then azure-ip-masq-agent is deployed as well. With only azure network plugin POD connects to vm server using the IP address originally assigned to the pod and not node as desired.
Tha

[2020-01-10 14:51] #460 closed

[2020-01-14 08:50] #469 closed

[2020-01-16 03:59] tomleetaiwan opened #477 "[CNM] Internet not being accessible from containers"
**Is this a request for help?**:

Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

[Reference issues #79](https://github.com/Azure/azure-container-networking/issues/79), I think it  is a feature request

---

**Which release version?**:

v1.0.31

---

**Which component (CNI/IPAM/CNM/CNS)**:

CNM

---

**Which Operating System (Linux/Windows)**:

Linux

---

**For Linux: Include Di

[2020-01-16 23:27] tamilmani1989 commented on #447
@amodm I'm working on this. I tried to create aks cluster with kubeproxy in ipvs mode..following your steps . I'm getting some issues with setup. can you help me with that. I tried to run following cmd and it returned error. Does the error mean ipvs not enabled in this cluster?

rnmadmin@k8s-cniagtvm1-32662751-0:~$ sudo ipvsadm -Ln
sudo: ipvsadm: command not found

cluster config change:
"kubernet

[2020-01-16 23:36] tamilmani1989 commented on #477
Currently Azure CNM cannot support this as it doesn't have knowledge on vnet space of customer. Run the following cmd to allow internet connectivity from containers. We certainly think in future if we can get vnet space from user config.

https://github.com/Azure/azure-container-networking/blob/master/docs/cnm.md#outbound-connectivity-from-container

[2020-01-17 04:14] amodm commented on #447
Assuming you're on a Debian/Ubuntu derivative, you can do `sudo apt install ipvsadm`

[2020-01-17 11:08] amodm commented on #447
`ipvsadm` is not installed by default on Azure's aks distribution, so you'll need to do `sudo apt install ipvsadm`

[2020-01-17 22:38] tamilmani1989 commented on #447
Thanks @amodm . I thought ipvsadm installed by default when kubeproxy is set to ipvs

[2020-01-18 01:32] tamilmani1989 commented on #447
I compared it with azure cni - kubeproxy iptable mode:

In ibtable mode,
For service ips(10.0.0.1 or 10.0.0.10) there are equaivalent DNAT rules in iptable nat table and packets are getting DNATed before leaving VM

In IPVS mode,
For service ips(10.0.0.1 or 10.0.0.10) there are no equaivalent DNAT rules in iptable nat table but found in ipvs. I believe this as equivalent DNAT rule in ipvs:
TCP  10

[2020-01-18 03:56] tomleetaiwan commented on #477
Thanks for your explain.

[2020-01-18 03:56] #477 closed

[2020-01-18 03:57] amodm commented on #447
@tamilmani1989 all the packets are going via the host node anyways, so in that sense whatever processing hit you're talking about is non-existent. Also, please note that in IPVS, the service is implemented as VS on the node, so there's really no way around making the packet be processed by the host. We're currently running this on a fairly large sized production setup with zero issues.

[2020-01-18 04:09] amodm commented on #447
I suppose one optimisation that could done is to make the rule from the current

to

(assuming that your cluster ip is `172.21.0.0/16`)

This will ensure that this processing is done only for the cluster IPs, while any packets for any non-cluster IPs skip this rule. I haven't tested this though. But then, most calls in a typical Kubernetes setup will be between services (cluster IPs) anyways.

[2020-01-21 18:21] tamilmani1989 commented on #447
@amodm CNI doesn't have knowledge of service ip ranges. These ranges are customer defined and  only AKS knows about it.

Let me gather network performance metrics of both cases and confirm there is no issue.

[2020-01-25 01:57] tamilmani1989 commented on #447
@amodm  i see a performance hit with this rule if two pods are on same node. If pods are on different node, there is no difference. I tested using iperf3 tool multiple times and the results are consistent.

**Pods on same node:**
With Brouting rule: 20Gbps
Without Brouting rule: 22.5Gbps

Let me check internally with my team and update you.

[2020-01-28 14:57] plwhite opened #486 "Incorrect ARP responses running in AKS"
**ISSUE**

ARP responses sent by the Azure networking have incorrect destination field.

**Which release version?**:

This is AKS, running clusters of version 1.14.8.

**Which component (CNI/IPAM/CNM/CNS)**:

CNI

**Which Operating System (Linux/Windows)**:

Linux

**For Linux: Include Distro and kernel version using "uname -a"**

N/A - this is an AKS issue, and I do not have access to the node.

[2020-01-28 18:39] tamilmani1989 commented on #486
What;s the wrong mac address you are seeing. if you see mac starting with 12:34.. then its expected

[2020-01-29 09:39] plwhite commented on #486
The MAC address in the to field of the ARP response does start with 12:34 normally, yes.

When you say "expected", do you mean this is a known bug?

[2020-01-29 15:23] trgabrie commented on #436
We are experiencing a similar issue. Azure CNI version is 1.0.27 as well. What we are seeing happen is that multiple pods will be unable to talk to other pods causing them to crash, and after that runs for a while, the node will end up crashing. The erroring node kubelet.err logs contain:

I0128 16:16:56.173003   18216 fake_cpu_manager.go:40] [fake cpumanager] AddContainer (pod: feedadmin-68644b56

[2020-01-30 02:03] aanandr commented on #436
@trgbrie - we will look into this
@tamilmani1989 - how can we get the latest and best CNI version when deploying with aks-engine? Can you let us know?

[2020-01-30 09:55] plwhite commented on #486
Here's a slight clarification of what the bug is technically. ARP requests leaving the container go through SNAT, so that their source MAC is changed. When the ARP response arrives, it arrives at the node with destination MAC changed because of the SNAT, but the SNAT is not reversed when the packet is passed on to the pod.

[2020-01-30 19:43] tamilmani1989 commented on #436
@aanandr This ticket was opened by patrick stating that cni error was not returned in right error format. The error is not due to cni and it might be a different reason. satya started working on this. Let me check with him.

[2020-01-30 22:19] tamilmani1989 commented on #436
satya is working on this

[2020-01-30 22:31] saiyan86 commented on #486
@plwhite Please refer to https://github.com/Azure/azure-container-networking/issues/144

[2020-01-30 22:34] #464 closed

[2020-01-30 22:42] tamilmani1989 commented on #447
@amodm I discussed this with my team. We can have this rule only if kube proxy run in ipvs mode and only for service ip ranges.. So enabling the ipvs config flag should come from AKS. In aks-engine code, have to check if kubeproxy runs in ipvs mode and set this flag and service iprange in cni conflist.

@aanandr @chandanAggarwal

[2020-01-30 23:11] cswinter opened #490 "Azure CNI doesn't expose full link speed"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

**Which release version?**:

Azure CNI Version v1.0.25

**Which component (CNI/IPAM/CNM/CNS)**:

CNI

**Which Operating System (Linux/Windows)**:

Linux

**For Linux: Include Distro and kernel version using "uname -a"**

Linux hb120rsv2-000000 5.0.0-1027-azure #29~18.04.1-Ubuntu SMP Mon Nov 25 21:

[2020-01-31 12:37] iMacX opened #492 "Azure-NPM CrashLoopBackOff - Error: failed to set IsNewNwPolicyVerFlag"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**Which release version?**: v1.0.30

---

**Which Operating System (Linux/Windows)**: Linux

---

**For Linux: Include Distro and kernel version using "uname -a"**

---

**Which Orchestrator and version (e.g. Kubernetes, Docker)** AKS 1.15.7

---

**What happened**: pod azure-npm is in Cra

[2020-02-01 13:29] iMacX commented on #492
Seems the bug has been resolved but I assume I need to recreate the cluster because pod is still in CrashLoopBackOff state.

[https://github.com/Azure/AKS/issues/1419](https://github.com/Azure/AKS/issues/1419)

[2020-02-01 13:29] #492 closed

[2020-02-03 09:11] plwhite commented on #486
As I read #144, the final comment appears to confirm the bug, but then that issue was closed. Is that correct? The value of the MAC address isn't the problem, but the fact that it doesn't satisfy RFC826.

[2020-02-03 16:30] amodm commented on #447
@tamilmani1989 makes sense. What does this mean in terms of getting IPVS to work on Azure, and this patch? Currently we're missing out on further updates on Azure CNI because we're running on an older branch that has this patch. Those aren't time critical, but would be ideal for our patch to not diverge too much from the mainline. Of it there's a better way to make IPVS work, that's cool as well.

[2020-02-06 03:23] robbiezhang opened #494 "NPM doesn't work with Patched Kubernetes"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**Which release version?**:
1.0.29 or above
---

**Which component (CNI/IPAM/CNM/CNS)**:
NPM
---

**Which Operating System (Linux/Windows)**:
Linux
---

**For Linux: Include Distro and kernel version using "uname -a"**
Any
---

**For windows: provide output of "$(Get-ItemProperty -Path "C:\w

[2020-02-06 09:34] tamilmani1989 commented on #447
Yes defaults in #448 has to change. By default it should be disabled. You have to create PR with aks-engine to add 2 fields. One for enabling ipvs and other should be service cidr. These two fields should be updated from  aks-engine

[2020-02-06 23:02] tamilmani1989 commented on #486
@plwhite this is not bug. This is how azure platform works

[2020-02-06 23:02] #486 closed

[2020-02-07 19:49] #494 closed

[2020-02-10 15:35] mrgerard opened #500 "CNI errors when frequently adding and removing deployments"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**Which release version?**: 1.0.27

---

**Which component (CNI/IPAM/CNM/CNS)**: CNI

---

**Which Operating System (Linux/Windows)**: Windows Server 2019

---

**For Linux: Include Distro and kernel version using "uname -a"**

---

**For windows: provide output of "$(Get-ItemProperty -Path "C

[2020-02-11 16:13] porrascarlos802018 opened #502 "How to monitor NPM health?"
I did see /network/health endpoint in NPM repo but NPM deployment doesn't come with any liveness probe.
Can you please let me know what is the recommended way to monitor NPM health?

**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

---

**Which release version?**:

---

**Which component (CNI/IPAM/CNM/CNS)**:

---

**Which Operating System (Linux/Windo

[2020-02-13 01:17] #436 closed

[2020-02-13 01:24] tamilmani1989 commented on #502
In recent version of NPM, we added a metric which will send info periodically. That can be used to check if npm is alive or not. @matmerr  @jaer-tsun

[2020-02-24 19:38] yamaszone commented on #502
@tamilmani1989 Thanks for your note! Can you please send pointers to some docs for above? Also, would it be possible to update [NPM deployment](https://github.com/Azure/azure-container-networking/blob/master/npm/azure-npm.yaml) with liveness for AKS customers, please?

[2020-02-24 22:51] tamilmani1989 commented on #502
@matmerr / @jaer-tsun can you help @yamaszone

[2020-02-26 19:03] #367 closed

[2020-03-09 21:28] ashvindeodhar opened #525 "UDP duplicate packets"
In AKS cluster, duplicate UDP packets are seen when the UDP request is made by a VM to the public lb ip exposed by the AKS load balancer. This may be due to the hairpin created on host interface.

**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

---

**Which release version?**:

---

**Which component (CNI/IPAM/CNM/CNS)**:

---

**Which Operating Syste

[2020-03-09 21:28] ashvindeodhar commented on #525
This is seen on linux cluster

[2020-03-11 04:32] tamilmani1989 commented on #447
@amodm I'm making changes in aks-engine to pass service cidr in conflist if kube-proxy runs in ipvs mode. The CNI will read conflist and add ebtable brouting rule for service IPs

[2020-03-11 04:34] tamilmani1989 commented on #500
Can you use latest CNI v1.0.33 and let us know?

[2020-03-11 05:43] amodm commented on #447
Great! Let me know when this is available, and I'll make use of it to update the routes only for the service cidr

[2020-03-11 09:16] limpair opened #526 "Pod IP cannot be accessed with k8s Node IP"
**Is this a request for help?**:

YES

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

**Which release version?**:

v1.0.16

**Which component (CNI/IPAM/CNM/CNS)**:

cni

**Which Operating System (Linux/Windows)**:

Linux
Centos 7.5.1804

**For Linux: Include Distro and kernel version using "uname -a"**

![image](https://user-images.githubusercontent.com/19998264/76401030-3ad10600-6

[2020-03-11 10:39] #526 closed

[2020-03-12 03:23] zhiweiv commented on #364
Reproduce again, there is a fix in https://github.com/Azure/azure-container-networking/pull/445, we will try new azure cni plugin soon.

[2020-03-12 03:30] zhiweiv commented on #364
Pid in orphan lock file is 19592, I can find these logs about 19592, seems different with before.
@ashvindeodhar, not sure if you are interested in this log.
[cni.zip](https://github.com/Azure/azure-container-networking/files/4322151/cni.zip)

[2020-03-12 17:25] ashvindeodhar commented on #364
@zhiweiv thanks for sharing the log snippet. Are you still seeing this issue with the latest CNI release?

[2020-03-13 01:28] zhiweiv commented on #364
AKS is rolling update with azure cni 1.0.30 for Windows, I will try that once it is available.

[2020-03-17 02:21] ferantivero opened #528 "[Egress] npm dropping output traffic"
**Is this a request for help?**: YES

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**Which release version?**: v1.0.32

---

**Which component (CNI/IPAM/CNM/CNS)**: NPM

---

**Which Operating System (Linux/Windows)**: Linux
---

**For Linux: Include Distro and kernel version using "uname -a"**: Linux aks-agentpool-37083126-vmss000000 4.15.0-1069-azure #74-Ubuntu SMP Fri

[2020-03-17 18:09] jaer-tsun commented on #528
Hi @ferantivero, are you trying to allow all egress traffic from backend-dev via udp 53? In your example you're only allowing traffic to all-namespaces via udp 53, which does not include external traffic.

Here's an example that allows all egress via udp 53 from backend-dev

[code]

[2020-03-17 20:04] ferantivero commented on #528
@jaer-tsun please let me give try on this.

[2020-03-17 22:52] ferantivero commented on #528
@jaer-tsun, In short, it didn't work (Short and Full updates below). But please take your time, no hurries at all :)

Please let me answer your question here: _are you trying to allow all egress traffic from backend-dev via udp 53?_

But please let me remark why I conceptually expect such thing, from "What you expected to happen" section, please let me re-share what is the original intent:

## Sho